@import 'grid/_grid.scss';
@import 'mixins/_mixins.scss';
@import 'helpers/_utility.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_alignment.scss';
@import 'helpers/_animate.scss';
@import 'helpers/_loader.scss';
@import 'helpers/_colors.scss';
@import 'helpers/_font.scss';
@import 'helpers/_form.scss';
@import 'helpers/_checkbox.scss';

.hide{display:none;}
.wid50 {width:50%;}
.wid24 {width:24%;}
.wid49{width:49%;}
.line_h{line-height:24px;}
.line_h32{line-height:32px;}
.ovH {overflow: hidden;}
h4::after {
    content: '';
    @extend .dB;
    width:60px;
    height:2px;
    background-color:rgba(245,166,35,1);
    margin-top:10px;
}
.pdl20{padding-left:20px;}
.wid85{width:85%;}
.dF{display:flex;}
.align_C {align-items:center;}
.space_content{justify-content:space-between;}
.bdr_btn{border:1px solid rgba(5, 47,95, 0.3);}
.bdr_top{border-top:1px solid rgba(5, 47,95, 0.4);}
.bdr_lft{border-left:1px solid rgba(5, 47,95, 0.4);}
.blue_bdr{border:1px solid #1996FF;}
.blue_bdr.pd5{padding:3px 5px 2px;}
.black_close{background: url(../images/black_close_icon.svg) no-repeat 0 0; width:12px; height:12px;}
header{padding:15px;}
.logo{background: url(../images/logo.svg) no-repeat 0 0; width:160px; height:33px; @extend .dIB;}
.m_logo{background: url(../images/m_logo.svg) no-repeat 0 0; width:123px; height:20px; @extend .dIB;}
.log_div {border:1px solid #052F5F;}
.pdl30{padding-left:30px;}
.pdr30{padding-right:25px;}
.clear{clear:both;}
.blue_gradient{background:linear-gradient(222.54deg, #312CC6 0%, #271E64 100%);}
.secure_container {
  height: 100%;
  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.Lft_panel {
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;  
}
.Rgt_panel {
     -ms-flex: 1;
     -webkit-box-flex: 1;
     -moz-box-flex: 1;
     -ms-box-flex: 1;
     box-flex: 1;  
}
/*index css start here*/
.carousel .slide .image_box{ width:80%; }
/*index css end here*/
.error_box{border:1px solid #f5cbc7; background-color:#fceeec; @extend .bdr4;}
.term{
    .term_in {width:88%;}
    .styled-checkbox + label:before, .styled-checkbox:checked + label:after{
    vertical-align:top;}
    
}
img{max-width:100%; height:auto;}
.adhar_place{height:32px; width:49px;}
.ashok_symbol{height:36px; width:23px;}
.veri_icon {height:60px; width:58px;}
.summary li {
  padding:0.625rem 0; list-style: none; border-bottom: solid 1px rgba(5, 47, 95, 0.1); @extend .dIB; @extend .fullCon; @extend .space_content; @extend .dF; @extend .align_C; @extend .fw-6; @extend .clr-darkblue;
  label{width:190px; @extend ._R;}
}
.mature .summary li:last-child {
  border-bottom: none;
}
.photo{height:90px; width:80px; @extend .bdr2; @extend .bg-f; @extend .pd5; @extend ._C; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24);}

.carousel .slide{background:none;}



/*strip css start here*/
.strip{@extend .p-A; right:-8px; @extend .fs-10; @extend .clr-f; background: linear-gradient(150.59deg, #2AFFF8 0%, #453BD0 100%); padding:3px 9px 3px; top:-11px; @extend .fw-6; border-top-left-radius:4px; border-bottom-left-radius:4px;
  .tri_shap{width: 0; height: 0; z-index: -1; @extend .p-A; bottom:-5px; @extend ._oR;
        border-top:5px solid #508416; border-right:8px solid transparent;
  }
}
/*strip css end here*/

/*OTP Container start here*/
.OTP_item{ 
      width:400px; height:max-content; top:110px; bottom:100px; left:71%; right:auto; margin-right:-50%; border:none; @extend .p0; transform:translate(-50%, 0%);
    .cros::after {
        content: ''; width:11px; height:11px; @extend .dIB;
        background: url(../images/darkblue_cros.svg) no-repeat;
    }
    .otp_input { 
      input {margin-right: 5px; width:70px; height:80px; background:transparent; border:none; border:2px solid rgba(5,47,95,0.1); border-radius:3px; @extend ._C; 
      &:active, &:focus{border:2px solid #F5A623; @extend .clr-darkblue;}
      }
    }  
    .otp_input1 input{width:15%;}
}
.op85{opacity:0.85; }
.OTP_container{height:100%; @extend .dF; @extend .align_C; justify-content:center;}
.OTP_container.otp{@extend ._z9;}
.error_txt{display:none;}
.OTP_item .otp_input.error{
  input{border-bottom:2px solid #D72716; color:#D72716;}
  .error_txt{display:block;}
} 
.mobile {padding:12px 12px 12px;}
.OTP_item1{width:450px; top:140px;}
.bank_li{
   li {border:1px solid #9bacbf; @extend .mTB10; @extend .fullCon; @extend .bdr4; @extend .list_n;}
   a{padding:15px 15px 15px 50px; @extend .fs-14; @extend .fw-6; @extend.dIB; 
   @extend .clr-darkblue; @extend .TdecorN; @extend .fullCon;}
}
.sprite {background: url(../images/secure_sprite.png);}
.net, .debit, .upi, .wallet {@extend .p-A; width:30px; height:28px; left:13px; top:9px; background-size:110px;
}
.net{background-position:0px 0px;}
.debit {background-position:0px -30px;}
.upi {background-position:0px -56px;}
.wallet {background-position:0px -91px;}

.rgt_arw {background-position:-44px -1px; width:21px; height:15px;background-size:110px;
}
/*OTP Container End here*/
/*FD For Your Credit Card css start here*/
.sbm_li{
    li{@extend .list_n; @extend .dIB; @extend .fullCon; @extend .V_t; margin:5px 0;}
    li::before{content:''; background:url(../images/purple_tick.svg) no-repeat; width:19px; height:19px; @extend .dIB; @extend .V_m; @extend .mR10;}
}
.radio_li{
    li {
        border:1px solid #9bacbf; @extend .fw-6; @extend .p-R; @extend .bdr4; @extend .pd15; @extend .mTB10; @extend .list_n; @extend .dIB;
        .custom input[type="radio"]:not(:checked) + label, .custom input[type="radio"]:checked + label{padding:0 0 0 28px; font-size: 18px;}
    }
    li:nth-child(odd) {margin-right:15px;}
    li.full { width:96%; }
    li.half { width:47%; margin-right: 9px}
} 
.sbm_logo{background:url(../images/sbm_logo.svg) no-repeat; @extend .dIB; width:97px; height:25px;}
/*FD For Your Credit Card css End here*/

/* Dashboard login CSS start Here */
.three_toggle_menu.toggle_menu{width:auto;}
.three_toggle_menu.toggle_menu .sky_btn, .three_toggle_menu.toggle_menu 
.trans_btn{width:113px;}
.toggle_menu{
    border: 1px solid #BEBED7; padding:3px; width:293px;  
    .sky_btn, .trans_btn{width:140px; @extend .pd10; @extend .fs-12; @extend .fw-6; @extend .bdr10; @extend .hand; @extend ._C; @extend .bdr0;}
    .sky_btn{@extend .clr-f; @extend .bg_skyblue;}
    .trans_btn{@extend .clr-skyblue; background:transparent;}
}
.mdash_logo{background: url(../images/logo.svg) no-repeat 0 0; width:118px; height:19px; display:inline-block; background-size:100%;}
.menu_icon{background: url(../images/menu_line_white.png) no-repeat 0 0; width:24px; height:15px; display:inline-block;}
.hand{cursor:pointer;}
.clr-skyblue{color:#1B1DC7;}
.op8{opacity:0.8;}
.bg_skyblue{background-color:#1B1DC7;}
.bdr8{ @include border-radius(8px);}
h5::after{content: ''; width:60px; height:2px; background-color:#1B1DC7; @extend .dB; margin-top:10px;}
.sbm_bank_logo{background: url(../images/sbm_bank_logo.svg) no-repeat 0 0; width:100px; height:25px;}
.msbm_bank_logo{background: url(../images/m_sbmbank_logo.svg) no-repeat 0 0; width:80px; height:21px;}
.hide_eye{background: url(../images/hide_eye.svg) no-repeat 0 0;}
.show_eye{background: url(../images/show_eye.svg) no-repeat 0 0;}
.hide_eye, .show_eye{width:16px; height:16px; @extend .dIB; @extend .hand;}
.after_line{padding-right:70px; @extend .dIB; margin-top:40px;}
.after_line::after {content: ''; width:60px; height:2px; background-color:#1B1DC7;  top:11px; position:absolute; right:0;}
.fd_after.after_line{margin-top:0;}
.pass_div{background:#e6eaef; @extend .bdr8; @extend .pd15;}     
.secure_login{width:100%;
    .bg_grey{background:#F0F0F4;}
    .Lft_panel{height:100%;}
    .Rgt_panel{margin-left:39.66667%; padding-top:80px;}
    .header_blue_bg{background: url(../images/purple_bg.svg) no-repeat 0 0; height:77px; width:100%; background-size:435px; @extend .p-A; @extend ._oT;} 
    .footer_pink_bg{background: url(../images/ping_bg.svg) no-repeat 0 0; height:170px; width:100%; @extend .p-A; @extend ._oB;} 
    .logo{z-index:9; @extend .p-F;} 
    .card_img, .card_img_big{width:100%;}
    .card_img{background: url(../images/card_front.png) no-repeat 0 0; background-size:250px; height:180px;}    
    
    .bdr_btn{border:solid 1px #1B1DC7; @extend .bg-f; color:#1B1DC7;}
    .pass_div{background:#e6eaef; @extend .bdr8; @extend .pd15;}     
    .icon{width:36px; height:36px;}
    .cong{background: url(../images/congratulation_icon.png) no-repeat 0 0; background-size:35px;}
    .key{background: url(../images/key_icon.png) no-repeat 0 0; background-size:35px;}
    .creation{background:#e3e4f7;
      .left_side{width:70%;}
      .rgt_side img{@extend .p-A; top:-19px; right:15px;}
    }
    .link_a{width:60px; height:2px; background-color:#1B1DC7; margin-top:5px; 
    border-bottom:solid 1px red;}    
    .card_img_big{background: url(../images/card_front.png) no-repeat left top; background-size:46%; height:160px;}
    
    .step_card{
      @extend .bdr8; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15); padding:20px;
      .step_lft{width:64%; @extend .dIB; padding-right:25px;}
      .step_rgt{
        width:34%; margin:63px 0 0 1%; background: url(../images/card_front.png) no-repeat left top; background-size:100%; height:115px; vertical-align: top;
      }
    }
    .thanku_icon{background: url(../images/thanku_icon.svg) no-repeat 0 0;
    background-size:115px; width:120px; height:88px;}
    .fd_box{
      border:1px solid rgba(5,47,95,0.1); @extend .bdr4; @extend .bg-f; @extend .pd15;
          .lft_fd{background: url(../images/open_email.svg) no-repeat 0 0; background-size:97%; height:40px; width:40px; vertical-align:top; margin-right:10px;}
          .rgt_fd{width:79%;}
    } 
    .appl_status{
        li{@extend .list_n; padding:0px 0 15px 24px; border-left:solid 2px #EBF1F8;}
        li .green_tick, li ul li .green_tick{background: url(../images/green_tick.svg) no-repeat 0 0; @extend .dIB; margin-right:16px; vertical-align:middle;}
        li .green_tick{width:24px; height:24px; margin-left:-37px;  border:solid 4px #EBF1F8; border-radius:100%;}
        
        li:last-child{padding-bottom:0; border-left:none;}
        li ul{padding-left:9px;}
        li ul li{border-bottom:solid 1px #E6EBEF; padding:15px 0 15px 31px; border-left:none;}
        li ul li .green_tick{ width:17px; height:17px; border:none;}
        li ul li:first-child{padding-top:15px;}
        li ul li:last-child{padding-bottom:15px;}
        li .red_cross, li ul li .red_cross{background: url(../images/inactive_red.svg) no-repeat 0 0; @extend .dIB; margin-right:16px; vertical-align:middle;}
        li .red_cross{width:24px; height:24px; margin-left:-35px; border:solid 4px #EBF1F8; border-radius:100%;}
        li ul li .red_cross{ width:17px; height:17px; border:none;}
    }   
} 
/* tooltip CSS start here */
    .special-text, .set_special-text{@extend .p-R; @extend .hand;}

    /* Show the tooltip on hover */
    .special-text:hover .special-text__tooltip, .set_special-text:hover .special-text__tooltip{visibility:visible; opacity:1;}
    .special-text:hover .special-text__tooltip{@extend .bg-f;}
    .set_special-text:hover .special-text__tooltip{background:#151515;}

    .special-text__tooltip {
      font-size:11px;
      @extend .p-A; margin-top:15px; padding:10px;
      box-shadow:0 -4px 12px 0 rgba(52, 105, 203, 0.15),0 2px 4px 0 rgba(0, 0, 0, 0.08);
      @extend .bdr4;  z-index: 99;
      /* Hide the tooltip by default */
      visibility: hidden;
      opacity: 0;  
      /* Prettify */
      text-align: left;
      -webkit-transition: opacity 0.5s linear;
      -moz-transition: opacity 0.5s linear;
      -ms-transition: opacity 0.5s linear;
      -o-transition: opacity 0.5s linear;
      transition: opacity 0.5s linear;      
    }
    
    .special-text__tooltip::before,.special-text__tooltip::after {
      content: ""; @extend .p-A; border-left: 10px solid transparent; margin-left:-10px;
      border-right: 10px solid transparent; bottom:100%; right:14%; 
    }
    .special-text__tooltip::before{margin-top:1px;}        
    .special-text__tooltip::after{margin-top:-2px; z-index: 1;}

    .special-text{
          .special-text__tooltip{width:300%; right:0; top:100%;}
          .special-text__tooltip::before {border-bottom:8px solid rgba(52,105,203,0.15);}
          .special-text__tooltip::after{border-bottom:10px solid white;}
    } 
    .set_special-text{
        .special-text__tooltip{
          width:220px; color:#F3F4F7; bottom:200%; right:-100px; box-shadow:none;
        }
        .special-text__tooltip::before {
          border-top:8px solid #151515; margin-top: 0px; right:44%;
        }
        .special-text__tooltip::after{border-top:10px solid #151515; margin-top: 0;}
    }
    
    .set_special-text .special-text__tooltip::before, .set_special-text .special-text__tooltip::after{top:100%; right:44%;}    
/* Dashboard login CSS End Here */

/* Dashboard CSS start Here */
.wrapper, body, html {position:relative; min-height:100%;}
.layout-fixed{width:100%; height:auto; background:#e3e6f0;}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;

}
/* navigation start here*/

.main-sidebar {@extend .bg-f; height:100vh;
  @extend .p-A;
  height:100%;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:9;
}
.expand .main-sidebar{
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width:250px; overflow:visible;
}
.navi{@extend .m0; @extend .pd18; outline:0;
    li{@extend .list_n; border-bottom:solid 1px #e6eaef; @extend .p-R; @extend .dB;
        padding:15px 10px;
          a{ @extend .fs-16; @extend .TdecorN; @extend .p-R;
              display:table;
              border-collapse:collapse;
              border-spacing:0;
              -webkit-transform:translateZ(0) scale(1,1);
              -webkit-transition:all .1s linear;
              transition:all .1s linear;
          }
          p{@extend .fs-14; @extend .fw-6; @extend .clr-darkblue; @extend .m0;  
            @extend .p-R; display:table-cell; @extend .V_m; width:190px; white-space: nowrap;
          }
    }
    li .rgt_arw{opacity:0.6;}
    li:hover p, li.active p{@extend .fw-6; @extend .clr-skyblue;}
    li:hover .dashboard, li.active .dashboard{background-position:-23px -1px;}
    li:hover .pay, li.active .pay{background-position:-23px -23px;}
    li:hover .manage, li.active .manage{background-position:-23px -46px;}
    li:hover .statement, li.active .statement{background-position:-23px -66px;}
    li:hover .profile, li.active .profile{background-position:-23px -91px;}
    li:hover .rewards, li.active .rewards{background-position:-23px -115px;}
    li:hover .score, li.active .score{background-position:-23px -140px;}
    li:hover .support, li.active .support{background-position:-23px -161px;}
    li:hover .logout, li.active .logout{background-position:-23px -184px;}
    li:hover .faq, li.active .faq{background-position:-23px -206px;}
    li:hover .rgt_arw, li.active .rgt_arw{background: url(../images/rgt_arrow.svg) no-repeat 0 0; width:8px; height:13px; background-size:85%; opacity:1;}

    .navi_sprite{background: url(../images/navi_sprite.png) no-repeat 0 0; width:17px; height:19px; @extend .dIB; @extend .V_m; @extend .mr5;}
    .dashboard{background-position:0 -1px;}
    .pay{background-position:0 -23px;}
    .manage{background-position:0px -46px;}
    .statement{background-position:0 -66px;}
    .profile{background-position:0px -91px;}
    .rewards{background-position:0 -115px;}
    .score{background-position:0px -140px;}
    .support{background-position:0px -161px;}
    .logout{background-position:0px -184px;}
    .faq{background-position:0px -206px;}
}
.sidebar-mini .main-sidebar .navi li p, .sidebar-mini .namebox p{opacity:0; visibility:hidden; white-space: nowrap;}
.sidebar-mini .main-sidebar{width:4.6rem; overflow-x:hidden;}

.namebox{background-color:#2A1B58; padding:18px 18px 18px 10px; @extend .dB;
    @extend .p-R;
  .name_in{@extend .p-R; display:table; border-collapse:collapse; border-spacing:0;
      -webkit-transform:translateZ(0) scale(1,1); -webkit-transition:all .1s linear;
      transition:all .1s linear; 
          p{word-break: break-word; @extend .p-R; display:table-cell; width:190px; @extend .V_m; white-space: nowrap;}
          .name_clr{width:48px; height:48px; border-radius:100%; margin-right:7px; padding: 7px; @extend .V_m;}
  }
}

/* navigation End here*/


.expand .content-wrapper{transition: margin-left .3s ease-in-out; margin-left:250px;}
.sidebar-mini .content-wrapper{margin-left: 4.6rem;}
.content-wrapper {background:#e3e6f0;}
.content-wrapper>.content { padding:1.5rem;}
.container-fluid {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-lg-3, .col-md-8, .col-md-4, .col-md-12, .col-md-6, .col-md-9, .col-md-3{
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-5 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.col-md-2 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
} 
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} 
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-3{width:25%;}
.col-md-9{width:73%;}
@media (min-width: 992px){
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width:640px){
  .col-xs-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-3{width:25%;}
  .col-xs-9{width:73%;}
}
.statement_box{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15); width:100%;}
sidebar-mini .card_img{height:152px;}
.expand .card_img{height:133px;}
.card_img{
     @extend .p-R;
    label{@extend .p-A; left:18px; bottom:19px; @extend .clr-f; @extend .fs-12; @extend .camCase;}
}
.banner_box{background:#2A1B58;}
.banner_img{@extend .p-A; top:-113px; right:0; background: url(../images/artwork.svg) no-repeat 0 0; background-size:85%; height:206px; width:345px;}
.view_detail{border:1px solid #fff;}


.navi .rgt_arw, .rgt_arw{
  background: url(../images/rgt_arrow.svg) no-repeat 0 0; width:8px; @extend .dIB; @extend .V_m; 
}
.navi .rgt_arw{height:13px; top:40%; background-size:85%; @extend .p-A; right:0;}
.rgt_arw, .whitrgt_arw{height:8px; background-size:57%;}
.whitrgt_arw{background: url(../images/arw_white_rgt.svg) no-repeat 0 0; width:8px; @extend .dIB; @extend .V_m; height:9px;}
.arw_pad{padding-right:14px;}


.downdiv .bor{border-bottom:solid 1px #D4DAE1;}
.unbilled{
  li{@extend .list_n; border-bottom:solid 1px #e6eaef; padding:15px 0;}
}
.debit_arw, .credit_arw{width:12px; height:12px; @extend .dIB; @extend .V_m;}
.credit_arw{background: url(../images/credit_arw.svg) no-repeat 0 0;}
.debit_arw{background: url(../images/debit_arw.svg) no-repeat 0 0;}
.more_plus{background: url(../images/more_plus_icon.svg) no-repeat 0 0; width:8px; height:8px;}
.view_rotate_arw{ transform: rotate(90deg); margin:2px 0 0 5px;}
.view_rotate_arw, .hide_rotate_arw{width:7px; background-size:66%;} 
.hide_rotate_arw{ transform: rotate(-90deg); margin:-2px 0 0 5px;}
.manage_card, .know_card, .change_card_pin, .block_card{width:48px; height:48px; @extend .dIB; @extend .V_m;}
.manage_card{background: url(../images/manage_your_card.svg) no-repeat 0 0;}
.know_card{background: url(../images/know_your_card.svg) no-repeat 0 0;}
.change_card_pin{background: url(../images/change_card_pin.svg) no-repeat 0 0;}
.block_card{background: url(../images/block_card.svg) no-repeat 0 0;}
.navi.manage{
    border: 1px solid #D4DAE1;
    .rgt_arw{right:19px; top:43%;}
} 

.v_hide{display:none;}
.mhide, .mcase, .rect_arw{display:none;}

.modal_detail{
  width:31%; height: 100vh; min-height:100%; overflow-x: auto; box-sizing: border-box; overflow-y: scroll;
}
.fd_detail, .modal_detail{
  .summary {
      li{padding:15px 0;}
      li label{width:140px;}
      li:last-child{border-bottom:none;}
  }
}
.semi-donut {
  --percentage: 0;
  --fill:#835CFB;
  width:200px;
  height:100px;
  position: relative;  
  overflow: hidden;
  color: var(--fill);
  display: -webkit-box;  
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
}
.semi-donut:after {
  content: '';
  width:200px;
  height:200px;
  border:12px solid;
  border-color: rgba(243, 233, 248, 1) rgba(243, 233, 248, 1) var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-transform: rotate(calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ));
          transform: rotate(calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ));
  -webkit-animation: fillAnimation 1s ease-in;
          animation: fillAnimation 1s ease-in;
}
.m_unbilled{@extend .p-A;}
.card_pop{margin-bottom:20px;}

.box{ display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
    .column{ flex: 1; margin-right:7.5px; margin-left:7.5px;}
}
.add_nominee{background:rgba(5,47,95,0.04); border:1px dashed rgba(5,47,95,0.1); height: 110px;
  span{line-height:0; display:inline-table; margin-top:4px;}
}
.verified{background-color:#1BC740; padding:2px 5px;}
.bdr_btn {border:1px solid #2C3BD9; color:#2C3BD9;}

.center_div{margin-top:20px;
    height:100%; display:flex; align-items:initial; justify-content:center;
    .center_item {width:690px;}
    .center_item1 {width:480px;}
    .center_item2 {width:600px;}
    .rgt_arw{height:10px;}
}
.expand .center_item1 .card_img {height:auto;}
.full_custom.custom input[type="radio"]:checked + label, .full_custom.custom input[type="radio"]:not(:checked) + label{padding-right:0;}
.center_div_alert{top:0; bottom:0; left:0; right:0; margin:auto; transform:none;}
.center_div_alert .pT0 {padding-top:0;}
/* Flip css start here */
.vitual{
    div.main_flip{width:100%; text-align:center; height:190px;}
    .card_flip div{line-height:0;}
    .card_img img{width:300px; position: relative;}
    .card_img label{left:70px; bottom:28px;}  
}
.vitual_d{
  div.main_flip{height:153px;}
  .card_img label{left:15px; bottom:23px;} 
}
div.main_flip {
                -webkit-perspective: 1000px;
                perspective: 1000px;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                display: block;
                width: 300px;
                height: 200px;                
                cursor: pointer;
            }

            .card_flip {
                position: relative;
                height: 100%;
                width: 100%;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 600ms;
                transition: all 600ms;
                z-index: 20;
            }

            .card_flip div {
                position: absolute;
                height: 100%;
                width: 100%;
                background: #FFF;
                text-align: center;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .card_flip .back {
                background: #fff; height: 100%;
                width: 100%;
                color: #FFF; text-align: center;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
            input:checked + .card_flip {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
            }
            input:checked + .card_flip div{
                -webkit-backface-visibility: visible;
                backface-visibility: visible;
            }
div.main_flip input {display: none;}
/* flip css End here */
.work_1, .work_2, .work_3{display:inline-block; vertical-align:middle; width:100px; height:90px;}
.work_1{background: url(../images/works_1.svg) no-repeat 0 0; background-size:100%;}
.work_2{background: url(../images/works_2.svg) no-repeat 0 0; background-size:87%;}
.work_3{background: url(../images/works_3.svg) no-repeat 0 0;background-size:100%;}
.work_span{@extend .dIB; width:66%; padding-left:15px; @extend .V_m;}
.form_group.select_box .custom_input{
  padding-bottom: 6px; border:none; height:25px; border-bottom: 1px solid rgba(5, 47, 95, 0.2); color:#052F5F; @extend .fw-5;
}

.m_accordion input[name='panel'] {display:none;}
.pending{background-color:#FFC300; padding:2px 5px;}
.fot{background:#2C2957;}

/* Landing CSS start Here */
.landing {width:100%;
  .container{padding-left:1rem; padding-right:1rem; width:100%;}
  header{padding:15px 0;}
  .style_box{@extend .bdr8; @extend .bg-f; margin:20px auto 20px;
    box-shadow: 0 4px 24px 0 rgba(122,127,131,0.16); width:270px;
    h3{width:65%;}
  }
  
  
  .logo{width:160px; height:27px; background:none;}
  .log_div{border: 1px solid #1B1DC7; width:110px; padding:10px;}
  h6::after {
    content: ''; width:80px; height:2px; margin-top:2px; bottom:-10px; @extend .p-A; @extend ._oL; @extend ._oR; @extend .m0A; background:#D90368;
  }
  .toggle_menu{width:369px;
    .sky_btn, .trans_btn{height:48px; width:178px; @extend .fs-16;}
  }
  .made h6{margin:35px 0;}
  .steps li{@extend .list_n; 
    .step_div{margin:18px 0;  @extend .fs-16; @extend .fw-6; @extend .clr-darkblue; padding:10px 20px 10px 10px; @extend .dF; @extend .fullCon; border-radius:16px; box-shadow: 0 6px 30px 0 rgba(122,127,131,0.16); align-items:center; min-height:75px; @extend .p-R; padding-left:80px;
    }
    span{padding:13px 22px; margin-right:15px; border-radius:16px; background-color:#1B1DC7; @extend .dIB; @extend .p-A; left:10px; vertical-align:middle;
    }
  }
  .steps_fig{width:500px; float:right;}
}
h2::after{content: ''; width:60px; height:2px; background:#D90368; @extend .dB; margin-top:10px;}
.questions{background:#EDF1FA;
    .accordion label{font-size:16px;}
    .accordion .accordion_content{line-height:27px;}
}
.gredient_btn{background:linear-gradient(135deg, #38B8F2 0%, #843CF6 100%);}
.benefit_li li{padding:10px 0 10px 36px; @extend .list_n; @extend .fs-16; @extend .fw-6; @extend .p-R;}

.fly, .car, .tv, .discount, .cart, .fee, .annual_fee, .overdue, .withdrawl{width:24px; height:24px; @extend .dIB; @extend .V_m; margin-right:12px; @extend ._oL; @extend .p-A;}
.fly{background: url(../images/plane.svg) no-repeat 0 0; background-size:100%;}
.car{background: url(../images/car.svg) no-repeat 0 3px; background-size:100%;}
.tv{background: url(../images/television.svg) no-repeat 0 0;background-size:100%;}
.discount{background: url(../images/discount.svg) no-repeat 0 0;background-size:100%;}
.cart{background: url(../images/cart.svg) no-repeat 0 0;background-size:100%;}
.fee{background: url(../images/joining_fee.svg) no-repeat 0 0;background-size:100%;}
.annual_fee{background: url(../images/annual_fee.svg) no-repeat 0 0;background-size:100%;}
.overdue{background: url(../images/overdue_interest.svg) no-repeat 0 0;background-size:100%;}
.interest_rate{background: url(../images/interest_rate.svg) no-repeat 0 0;background-size:100%;}
.withdrawl{background: url(../images/withdrawl.svg) no-repeat 0 0;background-size:100%;}
.reward_img{@extend .p-A; left:58px; top:141px; width:63%;}
.table{border:1px solid #e1e1e1; border-collapse:collapse; width:100%;
    th, td{border:1px solid #e1e1e1;}
    td{@extend .pd10;}
}
.suited{
  h3{font-size:20px;}
  .after_line::after{background-color:#D90368; top:14px;}
  ul li{background: url(../images/suited_check.svg) no-repeat 0 12px; 
    padding:9px 5px 9px 25px; font-size:16px;}
}
/* Landing CSS End Here */

.secure_login{
  .carousel .slide{text-align:left; padding:0 10px; background:transparent;}
  .slide {width:98%;
    p{@extend .clr-darkblue; margin-bottom:8px; @extend .dIB;}
  }
} 

.pinset{width:128px;}
.line_h11{line-height:11px;}
.track_status{
  .pass_div{border-radius:4px; @extend .fs-10; padding:3px 8px; color:#2D3CD9; width:max-content;}
  li{@extend .list_n; padding:0px 0 0 24px; border-left:solid 2px #D8D8D8; @extend .p-R;}
  li .orange{ @extend .dIB; vertical-align:middle; width:16px; height:16px;  border:solid 3px #FF7200; border-radius:100%; @extend .bg-f; margin:-9px 16px 0 -33px;}
  li .orange, li .grey{@extend .dIB; vertical-align:middle; border-radius:100%;}
  li .grey{height:10px; width:10px; background:#BAC2C5; margin-left:-30px; margin-right: 21px; @extend .p-A;}
  li ul{padding:10px 0 30px;}
  li ul li{padding:5px 0; border-left:0; font-size:12px; font-weight:600;}
  li ul li .oval{height:4px; width:4px; background:#BAC2C5; @extend .dIB;
    vertical-align:middle; margin-left:-27px; margin-right:20px; border-radius:100%;
  }
}
.track_status li.success{border-left:solid 2px #25BC4F;
    ul li .oval{background:none;}
    .grey{background:#25BC4F;}
}
.bg_reward{background:rgba(5, 47, 95, 0.6);}
.email_edit{top:10px; width:60px;}
.textarea{border:1px solid rgba(5, 47, 95, 0.2);  @extend .pd10; @extend .bdr4;  @extend .fullCon; @extend .clr-darkblue; @extend .op6; height:120px;}
.shadow_box{@extend .bdr8; border:1px solid #E6EBEF; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15); }
.faq li{ @extend .list_n; @extend .fullCon; @extend .shadow_box; margin:8px 0; padding:10px 15px; @extend .fs-14; color:#052F5F; @extend .dF; @extend .align_C; @extend .fw-7;}
.faq li a{ @extend .fullCon; @extend .dF; @extend .align_C; color:#052F5F; @extend .TdecorN;}
.dIF {display: inline-flex;}
.point{line-height:70px;}
.point_tick{margin-right:8px; padding-bottom:4px;}
.reward_form{
  .form_group{margin-bottom:0;}
  .lab{border-bottom:1px dashed rgba(5, 47, 95, 0.2);}
  .form_group.lab input.custom_input{border-bottom:none;}
  .equalto{margin-top:30px;}
} 
.faq_rgt_arw{background: url(../images/faq_right_arrow.svg) no-repeat 0 0; width:16px; height:15px; right:0px; position:absolute;}
.faq_acc.accordion{
   input:checked + label, label{@extend .clr-skyblue; padding-left:20px}
   .number{@extend .p-A; left:0; @extend .clr-darkblue;}
   .accordion_content{line-height:22px;}
}
.back{@extend .p-R; padding-left:20px;
  .backarw{background: url(../images/backarw.svg) no-repeat 0 0; width:18px; height:15px; @extend .p-A; left:0; top:12px;}
}

/* confetti css start here */
.conffeti_box{height:200px; width:50%;}
.conffeti_box_in{position:relative; overflow: hidden; height:100%;}

[class|="confetti"] {
  position: absolute;
}

.confetti-0 {
  width: 12px;
  height: 16px;
  background-color: #d13447;
  top: -10%;
  left: 87%;
  opacity: 1.3061820701;
  transform: rotate(191.9652137316deg);
  animation: particle-0 4.1274232487s 0.4262172046s infinite;
}

@keyframes particle-0 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-1 {
  width: 12px;
  height: 16px;
  background-color: #d13447;
  top: -10%;
  left: 48%;
  opacity: 1.2128644081;
  transform: rotate(259.5575393455deg);
  animation: particle-1 4.7571093493s 0.4001360946s infinite;
}

@keyframes particle-1 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-2 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 54%;
  opacity: 0.5417535725;
  transform: rotate(13.9796343571deg);
  animation: particle-2 4.4578358591s 0.2342099743s infinite;
}

@keyframes particle-2 {
  100% {
    top: 110%;
    left: 55%;
  }
}

.confetti-3 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 48%;
  opacity: 0.6633496337;
  transform: rotate(52.9510317291deg);
  animation: particle-3 4.5196109624s 0.4839920408s infinite;
}

@keyframes particle-3 {
  100% {
    top: 110%;
    left: 52%;
  }
}
.confetti-4 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 8%;
  opacity: 0.755026438;
  transform: rotate(199.7191149085deg);
  animation: particle-4 4.8905037286s 0.4713409566s infinite;
}

@keyframes particle-4 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-5 {
  width: 12px;
  height: 16px;
  background-color: #263672;
  top: -10%;
  left: 67%;
  opacity: 1.3990700519;
  transform: rotate(290.2646955934deg);
  animation: particle-5 4.5339502335s 0.2453995472s infinite;
}

@keyframes particle-5 {
  100% {
    top: 110%;
    left: 76%;
  }
}
.confetti-6 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 66%;
  opacity: 0.6359666953;
  transform: rotate(228.6903486371deg);
  animation: particle-6 4.4224696616s 0.1112774307s infinite;
}

@keyframes particle-6 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-7 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 87%;
  opacity: 0.8320271668;
  transform: rotate(187.2955612322deg);
  animation: particle-7 4.3366889883s 0.9392350447s infinite;
}

@keyframes particle-7 {
  100% {
    top: 110%;
    left: 102%;
  }
}
.confetti-8 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 10%;
  opacity: 0.5569654104;
  transform: rotate(302.6515876567deg);
  animation: particle-8 4.7312551786s 0.5435419547s infinite;
}

@keyframes particle-8 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-9 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 42%;
  opacity: 1.3286071102;
  transform: rotate(154.5514915607deg);
  animation: particle-9 4.9972924079s 0.1933822005s infinite;
}


@keyframes particle-9 {
  100% {
    left: 45%;
    top: 110%;
  }
}
.confetti-10 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 5%;
  opacity: 0.9713918706;
  animation: particle-10 4.0547674385s 0.3062186071s infinite;
  transform: rotate(278.7140494354deg);
}

@keyframes particle-10 {
  100% {
    top: 110%;
    left: 16%;
  }
}
.confetti-11 {
  width: 1px;
  height: 0.4px;
  background-color: #d13447;
  top: -10%;
  left: 90%;
  opacity: 0.520453344;
  transform: rotate(251.3342024809deg);
  animation: particle-11 4.7029842659s 0.6555096588s infinite;
}

@keyframes particle-11 {
  100% {
    top: 110%;
    left: 93%;
  }
}
.confetti-12 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 67%;
  opacity: 1.0582140344;
  animation: particle-12 4.0430401052s 0.6821317524s infinite;
  transform: rotate(184.0056513943deg);
}


@keyframes particle-12 {
  100% {
    top: 110%;
    left: 68%;
  }
}
.confetti-13 {
  width: 6px;
  height: 2.4px;
  background-color: #263672;
  top: -10%;
  left: 54%;
  opacity: 0.758676873;
  transform: rotate(183.0375915212deg);
  animation: particle-13 4.037831958s 0.9228368472s infinite;
}

@keyframes particle-13 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-14 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 1.4338666503;
  transform: rotate(195.2043293114deg);
  animation: particle-14 4.7755033644s 0.6773374327s infinite;
}

@keyframes particle-14 {
  100% {
    top: 110%;
    left: 71%;
  }
}
.confetti-15 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 12%;
  opacity: 0.7133955799;
  transform: rotate(353.1326361924deg);
  animation: particle-15 4.6541567029s 0.3518965626s infinite;
}

@keyframes particle-15 {
  100% {
    top: 110%;
    left: 27%;
  }
}
.confetti-16 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 16%;
  opacity: 1.0998951627;
  transform: rotate(122.2333026103deg);
  animation: particle-16 4.2152259763s 0.2355954766s infinite;
}

@keyframes particle-16 {
  100% {
    top: 110%;
    left: 21%;
  }
}
.confetti-17 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 74%;
  opacity: 0.837765218;
  transform: rotate(2.179775515deg);
  animation: particle-17 4.1587894595s 0.0338115936s infinite;
}

@keyframes particle-17 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-18 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 7%;
  opacity: 0.64763165;
  transform: rotate(175.2137142699deg);
  animation: particle-18 4.3528377239s 0.3452553443s infinite;
}

@keyframes particle-18 {
  100% {
    top: 110%;
    left: 14%;
  }
}
.confetti-19 {
  width: 8px;
  height: 3.2px;
  background-color: #d13447;
  top: -10%;
  left: 95%;
  opacity: 0.5860307283;
  transform: rotate(30.6265928177deg);
  animation: particle-19 4.1684396763s 0.0792182058s infinite;
}

@keyframes particle-19 {
  100% {
    top: 110%;
    left: 103%;
  }
}
.confetti-20 {
  width: 3px;
  height: 1.2px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.564073517;
  transform: rotate(232.8736232512deg);
  animation: particle-20 4.9958660434s 0.1259199918s infinite;
}

@keyframes particle-20 {
  100% {
    top: 110%;
    left: 95%;
  }
}
.confetti-21 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 65%;
  opacity: 1.406661406;
  transform: rotate(96.7227307379deg);
  animation: particle-21 4.3740897319s 0.8284388467s infinite;
}

@keyframes particle-21 {
  100% {
    top: 110%;
    left: 66%;
  }
}
.confetti-22 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 30%;
  opacity: 0.6383178116;
  transform: rotate(217.6861455614deg);
  animation: particle-22 4.8798592097s 0.7304186777s infinite;
}


@keyframes particle-22 {
  100% {
    top: 110%;
    left: 37%;
  }
}
.confetti-23 {
  width: 6px;
  height: 2.4px;
  background-color: #d13447;
  top: -10%;
  left: 82%;
  opacity: 1.2630804109;
  transform: rotate(304.9526030723deg);
  animation: particle-23 4.1195440746s 0.1836516659s infinite;
}


@keyframes particle-23 {
  100% {
    top: 110%;
    left: 96%;
  }
}
.confetti-24 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 54%;
  opacity: 0.6129735653;
  transform: rotate(60.7411800044deg);
  animation: particle-24 4.7564916906s 0.6859676186s infinite;
}

@keyframes particle-24 {
  100% {
    top: 110%;
    left: 57%;
  }
}
.confetti-25 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 93%;
  opacity: 1.3068184899;
  transform: rotate(194.1535313688deg);
  animation: particle-25 4.4527270786s 0.2242722697s infinite;
}

@keyframes particle-25 {
  100% {
    top: 110%;
    left: 100%;
  }
}
.confetti-26 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 40%;
  opacity: 1.3168931866;
  transform: rotate(321.6909948073deg);
  animation: particle-26 4.0864558209s 0.020453016s infinite;
}


@keyframes particle-26 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-27 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 5%;
  opacity: 0.9556801874;
  transform: rotate(99.9778790988deg);
  animation: particle-27 4.8273257944s 0.786275835s infinite;
}


@keyframes particle-27 {
  100% {
    top: 110%;
    left: 8%;
  }
}
.confetti-28 {
  width: 7px;
  height: 2.8px;
  background-color: #263672;
  top: -10%;
  left: 35%;
  opacity: 1.0382962737;
  transform: rotate(94.1010103325deg);
  animation: particle-28 4.8310641161s 0.556473304s infinite;
}

@keyframes particle-28 {
  100% {
    top: 110%;
    left: 48%;
  }
}

.confetti-29 {
  width: 12px;
  height: 16px;
  background-color: #263672;
  top: -10%;
  left: 86%;
  opacity: 0.5648232352;
  transform: rotate(152.0984052815deg);
  animation: particle-29 4.9251913743s 0.1252872484s infinite;
}

@keyframes particle-29 {
  100% {
    top: 110%;
    left: 89%;
  }
}
.confetti-30 {
  width: 5px;
  height: 2px;
  background-color: #263672;
  top: -10%;
  left: 61%;
  opacity: 0.9440760093;
  transform: rotate(247.6532461467deg);
  animation: particle-30 4.2270037827s 0.1586286173s infinite;
}


@keyframes particle-30 {
  100% {
    top: 110%;
    left: 70%;
  }
}
.confetti-31 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 0.8084080607;
  transform: rotate(130.6396642274deg);
  animation: particle-31 4.1976940708s 0.7771974419s infinite;
}

@keyframes particle-31 {
  100% {
    top: 110%;
    left: 49%;
  }
}
.confetti-32 {
  width: 12px;
  height: 16px;
  background-color: #d13447;
  top: -10%;
  left: 46%;
  opacity: 0.9480344084;
  transform: rotate(164.6912892048deg);
  animation: particle-32 4.8213279066s 0.8656472763s infinite;
}

@keyframes particle-32 {
  100% {
    top: 110%;
    left: 53%;
  }
}
.confetti-33 {
  width: 2px;
  height: 0.8px;
  background-color: #263672;
  top: -10%;
  left: 16%;
  opacity: 0.5679292587;
  transform: rotate(73.2528850326deg);
  animation: particle-33 4.0955061138s 0.5070220132s infinite;
}

@keyframes particle-33 {
  100% {
    top: 110%;
    left: 17%;
  }
}
.confetti-34 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 45%;
  opacity: 0.6742452012;
  transform: rotate(237.2548877717deg);
  animation: particle-34 4.2651201625s 0.5452842379s infinite;
}


@keyframes particle-34 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-35 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 67%;
  opacity: 0.5072134754;
  transform: rotate(274.6592679174deg);
  animation: particle-35 4.2116843085s 0.5419555199s infinite;
}

@keyframes particle-35 {
  100% {
    top: 110%;
    left: 78%;
  }
}
.confetti-36 {
  width: 2px;
  height: 0.8px;
  background-color: #ffbf00;
  left: 77%;
  top: -10%;
  opacity: 1.1766591394;
  transform: rotate(149.284715873deg);
  animation: particle-36 4.7026727378s 0.7282229839s infinite;
}


@keyframes particle-36 {
  100% {
    top: 110%;
    left: 79%;
  }
}
.confetti-37 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 81%;
  opacity: 0.6345221009;
  transform: rotate(83.7905328784deg);
  animation: particle-37 4.1518735947s 0.4078039273s infinite;
}


@keyframes particle-37 {
  100% {
    top: 110%;
    left: 83%;
  }
}
.confetti-38 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 61%;
  opacity: 0.6764420737;
  transform: rotate(23.1349587667deg);
  animation: particle-38 4.9098378311s 0.6795012769s infinite;
}


@keyframes particle-38 {
  100% {
    top: 110%;
    left: 72%;
  }
}

.confetti-39 {
  width: 3px;
  height: 1.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 33%;
  opacity: 1.2994047536;
  transform: rotate(302.150964845deg);
  animation: particle-39 4.4537101067s 0.1555730951s infinite;
}


@keyframes particle-39 {
  100% {
    top: 110%;
    left: 35%;
  }
}
.confetti-40 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 46%;
  opacity: 0.6184376414;
  transform: rotate(315.2935286359deg);
  animation: particle-40 4.0624501066s 0.0888833164s infinite;
}

@keyframes particle-40 {
  100% {
    top: 110%;
    left: 50%;
  }
}
.confetti-41 {
  width: 2px;
  height: 0.8px;
  background-color: #d13447;
  top: -10%;
  left: 59%;
  opacity: 1.1285676273;
  transform: rotate(319.5791191906deg);
  animation: particle-41 4.4449481097s 0.9140435097s infinite;
}


@keyframes particle-41 {
  100% {
    top: 110%;
    left: 69%;
  }
}
.confetti-42 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 72%;
  opacity: 1.4234365005;
  transform: rotate(32.2075447315deg);
  animation: particle-42 4.2450607218s 0.595760614s infinite;
}


@keyframes particle-42 {
  100% {
    top: 110%;
    left: 77%;
  }
}
.confetti-43 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 37%;
  opacity: 1.1211926091;
  transform: rotate(332.9665269262deg);
  animation: particle-43 4.7112318964s 0.9964129152s infinite;
}

@keyframes particle-43 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-44 {
  width: 1px;
  height: 0.4px;
  background-color: #ffbf00;
  top: -10%;
  left: 95%;
  opacity: 0.7576714936;
  transform: rotate(261.7546305078deg);
  animation: particle-44 4.0445054916s 0.592987487s infinite;
}



@keyframes particle-44 {
  100% {
    top: 110%;
    left: 104%;
  }
}
.confetti-45 {
  width: 3px;
  height: 1.2px;
  background-color: #d13447;
  top: -10%;
  left: 42%;
  opacity: 1.0854727945;
  transform: rotate(326.5607508962deg);
  animation: particle-45 4.7563711686s 0.3928549717s infinite;
}

@keyframes particle-45 {
  100% {
    top: 110%;
    left: 48%;
  }
}
.confetti-46 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 66%;
  opacity: 1.4973597853;
  transform: rotate(290.9259122686deg);
  animation: particle-46 4.0522495607s 0.0244734284s infinite;
}


@keyframes particle-46 {
  100% {
    top: 110%;
    left: 75%;
  }
}
.confetti-47 {
  width: 1px;
  height: 0.4px;
  background-color: #263672;
  top: -10%;
  left: 72%;
  opacity: 0.5560784779;
  transform: rotate(77.3282871326deg);
  animation: particle-47 4.0264938344s 0.7858674695s infinite;
}


@keyframes particle-47 {
  100% {
    top: 110%;
    left: 84%;
  }
}
.confetti-48 {
  width: 7px;
  height: 2.8px;
  background-color: #d13447;
  top: -10%;
  left: 30%;
  opacity: 1.0351824225;
  transform: rotate(255.4816931125deg);
  animation: particle-48 4.0012999107s 0.235017283s infinite;
}



@keyframes particle-48 {
  100% {
    top: 110%;
    left: 43%;
  }
}
.confetti-49 {
  width: 8px;
  height: 3.2px;
  background-color: #ffbf00;
  top: -10%;
  left: 17%;
  opacity: 1.4067562916;
  transform: rotate(323.7474214939deg);
  animation: particle-49 4.3646902085s 0.3232807201s infinite;
}

@keyframes particle-49 {
  100% {
    top: 110%;
    left: 32%;
  }
}
.confetti-50 {
  width: 7px;
  height: 2.8px;
  background-color: #ffbf00;
  top: -10%;
  left: 34%;
  opacity: 1.0281840538;
  transform: rotate(197.3577152271deg);
  animation: particle-50 4.0031395355s 0.3626543471s infinite;
}
@keyframes particle-50 {
  100% {
    top: 110%;
    left: 44%;
  }
}
/* confetti css End here */
.term li{padding:10px 0;}
.pass_div p{line-height:18px;}
.summary.closure li label{width:140px;}
.layout-fixed.radio_li li{width:100%;  
  .custom input[type="radio"]:not(:checked) + label, .radio_li li .custom input[type="radio"]:checked + label{font-size:14px;}
}
.scroll-top {
    @extend .p-A;
    right:-66px;
    bottom:15px;
    width: 50px;
    height: 50px;
    padding: 12px;
    @extend ._C;
    background: linear-gradient(135deg,#38b8f2,#843cf6);
    border-radius: 50px;    
    transition: background .3s;
    img{width:23px;}
}
.secure_status{margin-bottom:50px; text-align:center;
  li{@extend .dIB; border-bottom:solid 2px #E6EBEF; border-left:none; padding:0 70px;
    .grey{height:16px; width:16px; background:#E6EBEF; top:-7px; margin-left:-86px; font-size:10px; 
      color:#052F5F; text-align:center;}
  }
  li:last-child{
    border-bottom:none; padding:0;
    .grey{margin-left:-19px;}
    
  }
  li.visited{border-left:0;
    .grey{background:#2C3BD9; border:solid 5px #FFF; box-shadow:0 7px 16px 0 rgba(0,0,0,0.15); width:26px; height:26px; top:-12px; text-align:center; color:#fff;}
    .txt{opacity:1;}
  }
  li.green_tick{border-bottom: solid 2px #6EE339;
    .grey{
      width:16px; height:16px; border:none; background:#6EE339; /*background: url(../images/green_tick.svg) no-repeat 0 0;*/ color:#fff;
    }
    .txt{color:#3EC800;}
  }
  .txt{@extend .fs-12; @extend .clr-darkblue; @extend .op6; margin-left:-75px; line-height:0;
    @extend .p-A; top:-30px; left:40px;}
}
/*toggle on off start here*/
.toggle_onoff {width:30px; height:16px;
    input {opacity:0; width:0; height:0;
      &:focus+.slider {box-shadow: 0 0 1px #fff;}
      &:checked+.slider{background:#28C852;}
      &:checked+.slider:before { -webkit-transform: translateX(15px); 
            -ms-transform: translateX(15px); transform: translateX(15px);
      }
    }
    .slider.round {border-radius:24px; width:30px; height:16px;
        &:before {border-radius:50%;}
    }
    .slider {background-color:#aab7c6; -webkit-transition:.4s; transition:.4s;
        @extend .p-A; @extend ._oL; @extend ._oR; @extend ._oT; @extend ._oB; @extend .hand;
        &:before {content:""; @extend .p-A; @extend .bg-f; height:12px; width:12px;   left:2px; bottom:2px; -webkit-transition:.4s; transition:.4s; 
        }
    }
}
/*toggle on off End here*/
.oval{border-radius:50%; margin-left:5px; height:14px;
  width: 14px; background-color:#e3e4f8; @extend .dIB; @extend ._C; @extend .V_m;
  @extend .fs-10; @extend .fw-6;
}
.range_box{width:33%; @extend .dIB; vertical-align:middle;}
.range_input{height:34px; width:100px; border:1px solid #052F5F; @extend .bdr4;
  @extend .bg-f;}
.range_wrap {  
  position:relative;
}
.range_txt_box{width:65%;}
.range_txt{width:60%; @extend .dIB; margin-right:15px;}
/*input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    width:100%;
    height:8px;
    cursor: pointer;
    border-radius: 0;
    border-radius:10px;
    background:#e6eaef;
    outline: none;
    opacity: 0.7;
}

::-webkit-slider-runnable-track {background:#e6eaef;}

 * 1. Set to 0 width and remove border for a slider without a thumb
 
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:15px;  1 
    height:15px;
    background:#fff;
    box-shadow: -101vw 0 0 100vw #1B1DC7;
    border:2px solid #fff;
    border-radius:50%;
    cursor: pointer;    
}
::-moz-range-track { height:13px; background:#e6eaef;}
::-moz-range-thumb {
    background: #fff;
    height:15px;
    width:15px;
    border:2px solid #fff;
    border-radius:50%;
    box-shadow: -101vw 0 0 100vw #1B1DC7;
    box-sizing: border-box;
}
::-ms-fill-lower { background:#1B1DC7;}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}
::-ms-ticks-after { display:none;}
::-ms-ticks-before { display: none;}
::-ms-track { 
    background:#e6eaef;
    color: transparent;
    height:13px;
    border: none;
}*/

// excess height to improve interactive area / accessibility
$slider-height: 30px;
$thumb-height: 18px;
$track-height: 6px;

// colours
$upper-color: #cfcfcf;
$lower-color: #1B1DC7;
$thumb-color: #1B1DC7;
$thumb-hover-color: #1B1DC7;

$upper-background: linear-gradient(to bottom, $upper-color, $upper-color) 100% 50% / 100% $track-height no-repeat transparent;
$lower-background: linear-gradient(to bottom, $lower-color, $lower-color) 100% 50% / 100% $track-height no-repeat transparent;

// Webkit cannot style progress so we fake it with a long shadow
// on the thumb element
@function webkit-slider-thumb-shadow($i: 1) {
  $val: #{$i}px 0 0 -#{($thumb-height - $track-height) / 2} #{$upper-color};
  @if $i == 1 {
    @for $k from 2 through 1000 {
      $val: #{$val}, webkit-slider-thumb-shadow($k);
    }
  }
  @return $val;
}

.e-range {
  display: block;
  appearance: none;
  width: 100%;
  margin: 0;
  height: $slider-height;
  overflow: hidden;
  cursor: pointer;
  
  &:focus {
    outline: none;
  }
}

// Webkit
.e-range::-webkit-slider-runnable-track {
  width: 100%;
  height: $slider-height;
  background: $lower-background;  
}

.e-range::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: #fff;
  border-radius: 100%;
  border: 4px solid $thumb-color;
  top: 50%;
  margin-top: (-$thumb-height/2);
  box-shadow: webkit-slider-thumb-shadow();
  transition: background-color 150ms;
}

// Firefox
.e-range::-moz-range-track,
.e-range::-moz-range-progress {
  width: 100%;
  height: $slider-height;
   background: $upper-background;
}

.e-range::-moz-range-progress {
  background: $lower-background;
}

.e-range::-moz-range-thumb {
  appearance: none;
  margin: 0;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
}

// Internet Exploder
.e-range::-ms-track {
  width: 100%;
  height: $slider-height;
  border: 0;
  // color needed to hide track marks
  color: transparent;
  background: transparent;
}

.e-range::-ms-fill-lower {
  background: $lower-background;
}

.e-range::-ms-fill-upper {
  background: $upper-background;
}

.e-range::-ms-thumb {
  appearance: none;
  height: $thumb-height;
  width: $thumb-height;
  background: $thumb-color;
  border-radius: 100%;
  border: 0;
  transition: background-color 150ms;
  // IE Edge thinks it can support -webkit prefixes
  top: 0;
  margin: 0;
  box-shadow: none;
}
.mid_line {
    border-bottom: solid 1px #E6EBEF;
    height:13px;
    margin:5px 0 30px; width:80%; @extend .dIB;
}
.iner_div span {@extend .dIB;}

.card_img_model{width:160px; @extend ._C; @extend .dIB;}
.send_link_div{
  input{border:none; width:90%; height:43px;}
  .send_btn {
    height:44px; width:120px; @extend .bg_skyblue; border:0; 
    border-top-right-radius:8px; border-bottom-right-radius:8px; float:right;
  }
}
.send_link_div.success{
  border:1px solid #087627;
  .send_btn{background-color:#25BC4F; border-left:1px solid #087627;}
  i{background:url(../images/checked_rgt_arw.svg) no-repeat 0 0;  @extend .dIB;
    width:23px; height:12px;  @extend .V_m;}
}
.app_icon{background:url(../images/app_download_icon.svg) no-repeat 0 0; @extend .dIB;
    width:23px; height:22px;  @extend .V_m;}
/* Dashboard CSS End Here */

/* UIDAI CSS start Here */
.captcha img{width:160px; height:50px; border: solid thin rgba(5, 47, 95, 0.2) }
.uidai_pad{padding-top:0px;}
.m2p_logo{background: url(../images/m2p_logo.png) no-repeat 0 0;
    width:24px; height:24px; @extend .V_m; @extend .dIB;
    background-size: contain;
}
.mob_sbm_logo{background: url(../images/mob_sbm_bank_logo.svg) no-repeat 0 0;  width:77px; height:20px; display: inline-block !important;
}
.OTP_item .otp_input6 input{width:46px; height:65px;}
/* UIDAI CSS End Here */

/* setup_successful CSS start Here */
.manage_btm_m img{width:100px; height:65px;}
.appin_mob{margin-top:12px;
  img{width:73px;}
}
/* setup_successful CSS End Here */

/* Personal detail CSS start Here */
.personal{
  background: linear-gradient(180deg, #FFFFFF 0%, #EAEBFF 100%); padding-top:0;}
.detail_box{
    padding-right: 128px;  @extend .p-R;
    img{top:-10px; right:-12px; @extend .p-A;}
    h2{margin:0 0 8px 0;}
    p{line-height:16px;}
}
    
.personal_ul{
  li{font-size:14px; font-weight:600; padding:3px 5px 3px 40px; @extend .p-R;}
  li .sprite_icon{background:url(../images/detail_sprite.png); 
   margin-left:-44px; vertical-align:middle; margin-right:10px;}
  li .sprite_icon.detail_icon1, li .sprite_icon.detail_icon2, li .sprite_icon.detail_icon3, li .sprite_icon.detail_icon4{width:34px; height:38px; @extend .dIB;}
  li .sprite_icon.detail_icon1{background-position:0 0;}
  li .sprite_icon.detail_icon2{background-position:0 -41px;}
  li .sprite_icon.detail_icon3{background-position:0 -81px;}
  li .sprite_icon.detail_icon4{background-position:0 -131px;}
}
/* Personal detail CSS End Here */
/* credit CSS start Here */
.edit{top:25px; right:3px; text-align:center; padding:4px 5px 2px; border:1px solid #1B1DC7; color:#1B1DC7;}
.fd_select li{
  padding:6px 0 6px 30px;  @extend .p-R; @extend .fs-16; @extend .clr-darkblue;
  span.icon{background:url(../images/pink_tick.svg) no-repeat 0 2px;  @extend .p-A; left:0; width: 20px;
    height: 20px;}
}
.strip {
  right: -8px; background: linear-gradient(150.59deg, #2AFFF8 0%, #453BD0 100%);
  padding: 3px 9px 3px; top:13px; border-radius: 4px 0 0 4px; @extend .fs-10;
}
.strip .tri_shap {
  width:0; height:0; z-index:-1; bottom:-5px; border-top:5px solid #453BD0;
  border-right: 8px solid transparent; @extend ._oR; @extend .p-A,
}
.layout-fixed.three{
  .radio_li li{width:32.7%;}
  .radio_li li:nth-child(odd){margin-right:0;}
}
/* credit CSS End Here */
/* Please wait CSS star Here */
.center_item1.wait{
  width:400px;
  padding:40px; @extend ._C;
  h5::after{margin:10px auto 0;}
}
.center_item1.secure_login .Rgt_panel{margin:0; padding:0;}
.center_item1.secure_login .Rgt_panel h4::after{margin: 10px auto 0;}
/* Please wait CSS End Here */

/* Congratulations! CSS start Here */
.congrats{
  margin:5px; padding-bottom: 10px;
  border-radius:7px;  
  .img{background:url(../images/congrats_icon.svg) no-repeat -13px -26px;}
  .img1{background:url(../images/progress.svg) no-repeat -13px -26px;}
  .img, .img1{
    width: 124px;
    height: 80px;
    display: inline-block;
  }
}
.cong{background: linear-gradient(157.31deg, #F0B26F 0%, #DF3F8D 100%), linear-gradient(135deg, #F2A361 0%, #FF58FF 28.65%, #8A37F6 71.66%, #5F6AE0 100%); color:#6B0212;}
.prog{background: linear-gradient(160.55deg, #ADD0F4 0%, #D0BCF0 100%), linear-gradient(135deg, #F2A361 0%, #FF58FF 28.65%, #8A37F6 71.66%, #5F6AE0 100%); color:#052F5F;}
.Lft_panel .fd_select li{font-size:14px;}
.mL3{margin-left:3px;}
.layout-fixed .radio_li li .custom input[type="radio"]:not(:checked) + label, 
.layout-fixed .radio_li li .radio_li li .custom input[type="radio"]:checked + label {
  font-size: 14px;
}
.mT100{margin-top:100px;}
.plan_description{
  label{width:45%; vertical-align:top;}
  .creation{width:53%; @extend .dIB; padding:3px 8px;}
}
/* Congratulations! CSS End Here */

/* mature fd CSS start Here */
.mature{
  li{@extend .bg-f; margin: 8px 0 28px;}
  .accordion label{border-bottom:none; padding:5px 20px 7px 0;}
  .accordion label:after{top:33%;}
  .summary li{@extend .fs-14; @extend .fw-6; @extend .m0; padding: 0.625rem 0; border-radius:0; box-shadow:none; border:none; border-bottom: solid 1px rgba(5, 47, 95, 0.1); }
}
.mature .accordion .accordion_content .after_line::after{height:1px; top:8px;}
.mature_wid{width:49%; padding:15px; vertical-align:top; }
.mature_wid1{width:100%; margin-top:30px; padding-top:25px;}
.new_tag {
  @extend .fs-10; @extend .fw-4; @extend ._C;
  border-radius:4px; @extend .clr-f; line-height:17px;
  @extend .p-A; right:30px; top:24px;
}
.org_btn{border-radius:8px;  background:#FF6A08; float:right; padding:7px 20px;}
/*  mature fd CSS End Here */
@media (min-width: 1200px) { 
  .hide_m { display:none;}
}
@media only screen and (max-width:1024px){
  .secure_login .card_img_big{height:130px;}
  .secure_login .step_card .step_lft {width:63%;}
  .secure_login .fd_box .rgt_fd {width:76%;}
  .banner_pic{display:none;}
  .ipad{width:70%;}
  .landing{
    .steps_fig {width:410px;}
    .benefit_bubble{width:308px;}
    .reward_img{top:66px;width:71%;}
    .steps li .step_div{min-height:75px; padding-left:80px;}
  } 
  .secure_status li{padding:0 50px;
    .grey{margin-left:-66px;}
  }
}
@media only screen and (max-width:768px){
  .secure_login .card_img{background-size:195px; height:140px;}
  .secure_login .card_img_big{height:100px;}
  .secure_login .fd_box .rgt_fd {width:66%;}
  .secure_status li{padding:0 40px;
    .grey{margin-left:-53px;}
  }
  /* Dashboard CSS start Here */
  .work_span{width:60%;}    
  /*.sidebar-mini.close .main-sidebar{margin-left:-250px;}
  .sidebar-mini .content-wrapper{margin-left:0;}*/
  /* Dashboard CSS end Here */
}

@media screen and (min-width:641px) and (max-width:667px) and (orientation:landscape),
(min-device-width:812px) and (max-device-width:823px), (min-device-width:731px)and (max-device-width:736px){
    .landscape_orientation{
        position:fixed;
        z-index:9999;
        width:100%;
        top:0;
        bottom:0;
        content:"";
        background:url(../images/landscape_block.jpg) no-repeat #212121;
        background-size:100% auto;
    }
}
@media only screen and (min-device-width:767px) and (max-device-width:768px){
  .navi.manage{
      padding: 15px 10px;
      .manage_card, .know_card{width:30px; height:30px; background-size:97%;}
      .rgt_arw{right:10px; top:39%;}
  }
  .updiv{
      .col-xs-12{max-width:50%; flex:40%;}
      .col-xs-6{max-width: 30%;}
      .semi-donut{width:147px; height:73px;}
      .semi-donut:after{width:147px; height:145px;}
  } 
  .landing{
    .container{width:90%;}
    .steps_fig {width:315px;}
    .landing .benefit_bubble {width:220px;}
    .fot .g-12-s{width:98%;}
  } 
}
@media only screen and (max-width:767px){
  .modal_detail{border-radius:16px 16px 0 0; padding:10px 20px 30px 20px; width:100%; display:inline; top:initial; bottom:0; overflow-x:auto; box-sizing:border-box;}
  .modal_detail.animate-right{visibility:inherit;}
  .layout-fixed.three .radio_li li{width:100%;}
}

@media only screen and (max-width:640px){
.mature_wid{width:100%; padding:15px 0;}
.mature_wid.bdr_lft{border-left:none;}
.appin_mob{margin-top:20px;
  img{width:auto;}
}
.range_txt_box{width:100%;}
.range_box{width:100%; margin-top:10px;}
.range_input{margin-right:0;}
.m_ran{margin-top:2px; margin-bottom:10px;}
.range_txt{margin:0; width:65%;}
.select_range{bottom:-4px;}
.secure_status li{ padding:0 47px;
  .grey{margin-left:-63px;}
  .txt{font-size:10px; left:50px;}
}
.secure_status li:last-child{
  .grey {margin-left:-10px; margin-right:0;} 
} 
.reward_form.row{margin-right:0;
    label.name{font-size:12px;}
    .col-md-5{-ms-flex: 0 0 46%; flex: 0 0 46%; max-width: 46%;}
    .equalto{padding-left:17px;}
    .col-md-2{-ms-flex: 0 0 8%; flex: 0 0 8%; max-width: 8%;}
}
.scroll-top {right:0;}
.point{line-height:80px;}
  .conffeti_box{width:70%}
  .mpdB40{padding-bottom:40px;}
  header{border-bottom:solid 1px #E6EBEF; padding:10px;}
    .mob_term_check{background:#e6eaef; width:110%; margin-left:-19px; padding:10px 20px; margin-top:10px;}  
  .OTP_item{ width:100%; bottom:0; left:0; right:0; margin-right:0; transform:none; top: inherit; border-radius:24px 24px 0 0;}
  .mob_radius {border-top-left-radius:25px; border-top-right-radius:25px;}
  .mobile .rect {height:max-content; width:100%; text-align:center; display:inline-block;}
  .mob_rectangle {height:4px; width:40px; border:1px solid rgba(5, 47, 95, 0.2);
    opacity:0.2; border-radius:5px; background:#052F5F;
  }
  .mob_C, .m_thanks{text-align:center; width:100%;}
  .secure_login{
      .m_logo{float:left;}
      .Rgt_panel{margin-left:0; padding-top:60px;}
      .card_img_big{background: url(../images/card_front.png) no-repeat center top; background-size:321px; height:230px; display:inline-block;}
      .m_hide_img{display:none;}
      .m_thanks {
          h4::after{margin-left:41%;}
          h5::after{margin-left:41%;}
          .rgt_fd{text-align:left;}
          .step_card .step_lft{padding-right:0; width:100%;}
          .step_card .step_lft p{font-weight:600;}
          .step_card .step_rgt{margin:0; display:inline-block; width:55%; height: 125px; margin-bottom:10px;}
          .step_rgt.m_hide_img{display:none;}
      }
  }
/* Dashboard CSS start Here */
.secure_container .mob_bg_color .wrapper{background:#e3e6f0;}
.m_thanks .secure_login .step_card .step_rgt{height:120px;}
.modal_detail{height:auto;}
.work_span{width:68%;}
.box{ display:inline-block;}
.sidebar-mini.close .main-sidebar{margin-left:-250px;}
.sidebar-mini .content-wrapper{margin-left:0;}
.sidebar-mini .main-sidebar{transition: margin-left .3s ease-in-out,width .3s ease-in-out; width:250px;}
.sidebar-mini .main-sidebar .navi li p, .sidebar-mini .namebox p {
    opacity:1;
    visibility:visible;
}
.shide{display:none;}
.m_togg{display:inline-block; text-align:center;
    .toggle_menu{display:inline-block; margin-bottom:10px;
        .sky_btn{color:#1B1DC7; background:#fff;}
        .trans_btn{color:#fff; background:transparent;}
    }
}
  .mob_bg_color{
      header{border-bottom:none;}
      .content-wrapper{
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a1b58+25,2a1b58+25,e3e6f0+25,e3e6f0+25,2a1b58+25,2a1b58+25,e3e6f0+25,e3e6f0+26,e3e6f0+31,e3e6f0+89,e3e6f0+96,e3e6f0+100,e3e6f0+100 */
          background: #2a1b58; /* Old browsers */
          background: -moz-linear-gradient(top, #2a1b58 25%, #2a1b58 25%, #e3e6f0 25%, #e3e6f0 25%, #2a1b58 25%, #2a1b58 25%, #e3e6f0 25%, #e3e6f0 26%, #e3e6f0 31%, #e3e6f0 89%, #e3e6f0 96%, #e3e6f0 100%, #e3e6f0 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 25%,#2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 26%,#e3e6f0 31%,#e3e6f0 89%,#e3e6f0 96%,#e3e6f0 100%,#e3e6f0 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 25%,#2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 26%,#e3e6f0 31%,#e3e6f0 89%,#e3e6f0 96%,#e3e6f0 100%,#e3e6f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1b58', endColorstr='#e3e6f0',GradientType=0 ); /* IE6-9 */
          
          background-repeat:no-repeat;
          background-size:100% 740px;
      }

      .mpdl20{padding-left:0; width:100%;}
      .mpdl10{padding-left:10px;}
      .mdue{
          .span_in{display:inline-block; width:49.3%; margin-left:-3px;}
          .mbor_b{ border-bottom: solid 1px #e6eaef; padding:15px 0; opacity:1; font-weight:600;}
          .txtrgt{text-align:right; font-size:14px;}
      }
      .mwid85{width:100%; padding-top:10px; padding-bottom:5px;}
      .wid24{width:48%;}
      .mcase{display:block;}
      .banner_box{padding-left:0; padding-right:0;}
      .rect_arw{padding:3px 3px; background-color: rgba(255,255,255,0.1); border: 1px solid rgba(255,255,255,0.2); float:right; display:inline-block;}

  } 
  .mob_bg_color .content-wrapper1{background-size:100% 100%;} 
   
  .layout-fixed .content-wrapper > .content{padding:1rem;}
  .layout-fixed .container-fluid{padding:0;}
  .col-xl-12{max-width:100%; flex: 0 0 100%;}
  .navi.manage{
      .rgt_arw{display:none;}
      p{padding:0; text-align:center; width:100%;}
      .know_card, .manage_card{width:100%; background-position:center center; margin-bottom:15px;}
  } 
  .g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12{width: 100%;}
  .semi-donut{width:100%;}
  .semi-donut:after{left:17%;}
  .m_unbilled{position:relative; text-align:center;}
  .bdr-rgt{border-right:1px solid #D4DAE1;}
  .card_pop{margin-bottom:0px;}
  .fd_bor{border-bottom-left-radius:0; border-bottom-right-radius:0;}
  .rd_bor{border-radius:0; border-top:none;}
  .nd_bor{border-top-left-radius:0; border-top-right-radius:0; border-top:none;}
  .rectangle_accordion{
    box-sizing: border-box;
    height:17px; width:17px; border:1px solid #1B1DC7; padding:1px 1px 0px 1px;
    vertical-align: middle; line-height:12px;    
  }  
  .manage_btm_m{margin-bottom:15px;}
  .center_div{margin-top:0px;}
  .block{
      .lft_part{text-align:left; margin:0; vertical-align:top;}
      .rgt_part{text-align:left; vertical-align:top; display:inline-block;}

  } 
  .m_alert{width:88%; margin-right:auto; border-radius:8px; top:0;}
  .m_online{text-align:center;
      .card_img{width:250px; text-align:center; display:inline-block;}
  }
  .vitual_d div.main_flip{height:190px;}
  .mobmpT10{padding-top:10px;}
  /*Accordion css start here*/
      $timing: .4s;
      $ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

      .m_accordion { 
          input[name='panel'] {display:none;}
          .title { 
            position:relative;
            display:block; transition: all .4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
            
            &:after {content: '+'; position:absolute; right:4px; top:3px; 
                box-sizing: border-box; color:#1B1DC7; font-size:1.25rem; font-weight: 600; background-color:#fff; text-align:center; border-radius:4px;
                height:17px; width:17px; border:1px solid #1B1DC7; padding: 1px 1px 0px 1px; vertical-align:middle; line-height:12px;
            } 
            h5{margin-bottom:0;}
            h5::after{width:0; height:0;}       
          }  
          input:checked + .title {
            &:after {
              content: '-';
              /* adjsut line-height to vertically center icon */
              line-height:10px;
            }
            
          }  
          .accordion_content {
            overflow: hidden;
            height: 0px;
            position:relative;; padding:0;
            transition:height .4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
          }
      }

      input[name='panel']:checked ~ .accordion_content.accordion_content {
        height:auto; padding:10px;
      }
      /*Accordion css End here*/

      /*Landing css start here*/
      .questions .accordion label{font-size:14px;}
      .landing_main{flex-direction:column-reverse;}
      .landing{
          .mob_feature{padding:0 7.5px}
          .style_box{margin:0; height:100%; width:auto;}
          .style_box h3{width:100%;}
          header{border-bottom:none; padding-bottom:0;}
          .benifit_btn{text-align:center}
          .log_div{width:70px; padding:5px 10px;}
          .m_head{padding:0;}
          .m_head h2, .made h6{font-size:24px;} 
          .m_head p{font-size:14px;}
          .logo{width:120px; height:21px;}
          .bubble_img{height:311px; width:100%;}
          .fits{padding-left:10px; padding-right:10px;}
          .fot {text-align:center;
            .card_img{margin-bottom:20px;
              img{width:260px;}
            } 
          }
          .benefit_bubble{width:100%; display:inline-block; text-align:center;
              img{width:294px;}
          } 
          .made{ 
              h6{text-align:left;}             
              h6::after{margin:0;}
              .title_box{padding:10px 6px; width:48%; max-height:175px;}
              figure{height:79px;}
              .btn_get{width:95.66667%;}
              h3{font-size:14px;}
              p{font-size:12px;}
          }
          .toggle_menu{width:300px;
              .sky_btn, .trans_btn{width:144px;}
          }
          .apply{padding:0 10px;
            .apply_txt{font-size:24px;}
          }
          .steps_fig{width:100%; text-align:center;
            img{width:263px;}
          }
          .steps li span{border-radius:8px; padding:6px 13px; margin-right:12px;}
          .steps li .step_div{padding-left:57px; min-height:55px;}
          .reward_img{top:88px; width:59%;}
          .m_mob{
            h2{margin-top:0; font-size:24px;}
            p{font-size:14px; font-weight:500;}
          }
          .questions{
            h6{font-size:20px; margin-top:10px;}
          }
      }
      .suited{
        h3{font-size:18px;}
        ul li{font-size:14px;}
      }
      /*Landing css end here*/
  
  /* Dashboard CSS end Here */ 
}

/* Landscape */
@media only screen and (min-device-width:568px) and (max-device-width:640px){
  .semi-donut:after {left:32%;}
}
@media only screen and(min-device-width:411px) and(max-device-width:414px) { 
  .semi-donut:after{left:21%;}
  .secure_status li{padding:0 50px;}
  .secure_status li .grey{margin-left:-60px;}
  // .secure_status li:last-child .grey{margin-left:-4px;}
  .range_txt{width:70%;}
}