/* Float */
	
.f-N {float:none;}
.f-L {float:left;}
.f-R {float:right;} 

		
/* Positon */
.p-S { position:static;}
.p-R { position:relative;}
.p-F { position:fixed;}
.p-A {position:absolute;}
.p-I {position:inherit;}

/* align set*/

._oT {top:0;}
._oR {right:0;}
._oL {left:0;}
._oB {bottom:0;}

/* text orientations */

._L { text-align: left; }
._R { text-align: right; }
._C { text-align: center; }
._J { text-align: justify; }
.V_t{vertical-align:top;}
.V_m{vertical-align:middle;}

 /* Displays */
 			
.dB {display:block;}
.dIB{ display:inline-block;}
.dI{ display:inline;}
.dIF{ display:inline-flex;}
.dFB{ display:flex-box;}
.dtable{ display:table;}
.dtcell{display: table-cell; vertical-align: middle;}
.dfb{ display:flex;}
.dfb{ display:flex;}
.flex_d {flex-direction: column;}


