/* Form start here */

.pdlr15 {padding-left:15px; padding-right:15px;}
.form_box {padding:0px 30px 30px;}
.form_group{padding-top:30px; margin-bottom:15px;
    input.custom_input { padding-bottom:6px; border:none; height:25px; border-bottom:1px solid rgba(5, 47, 95, 0.2); @extend .dB; @extend .fw-6; @extend .fs-16; @extend .clr-darkblue;    
    }
    input.custom_input::placeholder{
        color:#5F7A99;
        opacity: 0.6; @extend .fw-5;  font-size:12px;
    }
    input.custom_input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #5F7A99;
        opacity: 0.6; font-weight:500;
        font-size:12px; 
    }
    input.custom_input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #5F7A99;
        opacity: 0.6; @extend .fw-5;  font-size:12px;
    }
}
 
label.name {         
    @extend .fs-16; @extend .clr-darkblue;
    top:0px;
    pointer-events:none;
    transition: 0.2s ease all;
    z-index:3;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label.name, input.filled-valid~label.name{
    top:0px; font-size:12px; 
    @extend .op6;
} 
label.name.filled-valid{top:0px; font-size:12px; opacity: 0.6;} 

.eror{display:none; opacity:0;}
.error label.name{margin-top:6px;}
.error label.name, .error span.eror{
    color: #D72716; 
    display:block;
    opacity: 1;
    transition-delay: 0s;
}
.error span:before, .error span:after {
    background:#D72716;
}
.help_txt {top:34px;}
.note_txt {margin-top:6px;}
.rupee-icon{width:13px; height:16px;}

input.with_symbols~span.symbols{visibility:hidden; opacity:0;}
input.with_symbols:focus~span.symbols{visibility:visible; opacity:1; bottom:2px; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;}
input.with_symbols:focus{padding-left:14px;}

/* BOTTOM _lineS starts */
._line:before,
._line:after {
    content: '';
    height:1px;
    width: 0;
    @extend ._oB;
    @extend .p-A;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
._line:before {
    left: 50%;
}
._line:after {
    right: 50%;
}
/* active state */

input:focus~._line:before,
input:focus~._line:after, .error ._line:before, .error ._line:after,{
    width: 50%;
}
/* Form End here */

@media only screen and (max-width:640px)  {
.pdlr15 {padding-left:0px; padding-right:0px;}
}