@import '../mixins/_mixins.scss';
/*utility*/

$fontfamily:'Open Sans', sans-serif;

.row, .fullCon, .clear{box-sizing: border-box;}

.uCase { text-transform: uppercase;}
.camCase { text-transform: capitalize;}
.lCase { text-transform: lowercase;}
.hand { cursor: pointer;}

.bdr:not(.bdr0) { border:1px solid #e1e1e1;}
.outline { outline:1px solid #ddd;}
.bdr0 {border:0;}
.bdr{border: 1px solid #e1e1e1;}
.bdr_b{border-bottom:solid 1px rgba(5,47,95,.1);}
.bdr_line{border-top:solid 1px rgba(228,234,240,1); clear:both;}

input, textarea, button, select, a, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.list_n{list-style:none;}
.text-decoration, .TdecorN, a.TdecorN:hover{text-decoration:none;}

.tdecorLT{text-decoration:line-through;}


.m0 {margin:0;}
.mTB10{margin:0.625rem 0;}
.mT10{margin-top:0.625rem;}
.mB15 {margin-bottom:rem(15);}
.m0A { margin: 0 auto;}
.m-L-10 { margin-left:rem(10);}
.mR10 {margin-right:0.625rem;}
.mR0 {margin-right: 0 !important;}
.mR25 {margin-right:25px;}
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mT5{margin-top:0.3125rem;}
.mT3{margin-top:3px;}
.mTB5{margin:5px 0;}
.mB5{margin-bottom:0.3125rem;}
.mB50{margin-bottom:rem(50);}

.m10 {margin:rem(10);}
.mTB0 {margin-top:0;margin-bottom: 0;}
.mLR10 {margin:0 0.625rem;}
.mLR20 {margin:0 20px 0 20px;}
.mT20{margin-top:1.25rem;}
.mB20{margin-bottom:1.25rem;}
.mB10{margin-bottom:0.625rem;}
.mB32{margin-bottom:32px;}


.p0 {padding:0;}
.pT0 {padding-top:0;}
.pTB10 {padding:0.625rem 0;}
.pTB20 {padding:20px 0;}
.pB20 {padding-bottom:20px;}
.pTB4 {padding:4px 0;}
.pB10 {padding-bottom:0.625rem;}
.pd10 {padding:0.625rem;}
.pd5 {padding:0.3125rem;}
.pd15 {padding:rem(15);}
.pT10 {padding-top:0.625rem;}
.pT20 {padding-top:20px;}
.pdl10 {padding-left:0.625rem;}
.pdr10 {padding-right:0.625rem !important;}
.pdlr10 {padding-left:0.625rem; padding-right:0.625rem;}
.pd18 {padding:1.125rem;}
.pd12 {padding:12px;}
.pT15, .d_pT15 {padding-top:20px;}
.pT70{padding-top:70px;}


.op5 {opacity: 0.5;}
.op6 {opacity: 0.6;}
.op0 {opacity: 0;}

._z9 {z-index: 9;}
._z99 {z-index: 99;}
._z999 {z-index: 999;}
._z9999 {z-index: 9999;}
._z10000{z-index: 10000}

.V_t{vertical-align:top;}
.V_m{vertical-align:middle;}
.V_b{vertical-align:bottom;}

.-z1 {@include shadow (0, 0, 1rem, rgba(0,0,0,0.5));  }
[class^="fab"].-z1 { @include shadow (0,0.5rem,0.5rem, rgba(0, 0, 0, 0.25)); }

button.-z1 {
    @include shadow (0,3px,0.3rem, rgba(0, 0, 0, 0.2)); transition: all 0.1s;
&:hover{ @include shadow (0, 4px, 0.7rem, rgba(0,0,0,0.3)); }
}


/*A tab & accordian utility with scss*/

.-tabs + .-tabContent input[type="radio"]:checked + * ,
.-accordian input[type="radio"]:checked + * ,
.-accordian input[type="checkbox"]:checked + * { display: block;}
.-tabs label , .-Obar{
    &:not(.active):not(.clr-p):not(:hover){
        color:#909090;
    }
    &.active:after , &:hover:after{
        content: "";
        width:30%;
        border:0.1rem solid #FF8F00;
        position: absolute;
        bottom:-1rem;
        left:0;
    }
}

/*A tab utility with scss*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.bdr2{ @include border-radius(2px);}
.bdr4{ @include border-radius(4px);}
.bdr8{ @include border-radius(8px);}
.bdr10{ @include border-radius(10px);}
.bdr12{ @include border-radius(12px);}