// custom checkboxes style


.styled-checkbox{
      @extend .p-A; 
      opacity: 0; 
      & + label {
        @extend .p-R; 
        cursor: pointer;
        @extend .p0; @extend .dIB;
    }

      // Box
      & + label:before {
        content: '';
        margin-right: 10px;
        @extend .dIB;
        @extend .V_m;  @extend .bg-f;
        width:17px;
        height:17px;
        border:solid 1px #4D648D;
      }
  
      // Box checked
      &:checked + label:before {
        background:#1996FF; border:solid 1px #1996FF;
      }
      
      // Disabled state label.
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }

      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        @extend .p-A;
        left:4px;
        top:9px;
        @extend .bg-f;
        width: 2px;
        height: 2px;
        box-shadow: 
          2px 0 0 white,
          4px 0 0 white,
          4px -2px 0 white,
          4px -4px 0 white,
          4px -6px 0 white,
          4px -8px 0 white;
        transform: rotate(45deg);
      }
      &:checked + label {font-weight:600;}
}

//CSS: styled a custom radio button

.custom input[type="radio"]:checked,
.custom input[type="radio"]:not(:checked) {
  @extend .p-A;
  left: -9999px;
}
.custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label
{
  @extend .p-R; @extend .clr-darkblue;
  padding:0 28px;
  cursor: pointer;
  line-height:17px;
  @extend .dIB;
  
}
.custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  content: '';
  @extend .p-A; @extend ._oL; @extend ._oT; @extend .bg-f;   
  width:15px;
  height:15px; 
  border: 1px solid #052F5F;
  border-radius: 100%; opacity:0.4;
}
.custom input[type="radio"]:checked + label:after,
.custom input[type="radio"]:not(:checked) + label:after {
  content: ''; 
  width:9px;
  height:9px;
  background:#052F5F; border: 1px solid #052F5F;
  @extend .p-A;
  top:3px;
  left:3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.custom input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}





