// colors

$primary:#424242;
$primary2: #808080;
$secondary: #efefef;
$white:#fff;
$danger:#d6140b;
$orange:#F99D31;

$bg-darkblue:#032143;
$bg-lgtblue1:#E7EEF5;
$bg-lgtblue:#E6EBEF;
$bg-orange:#FF9900;
$clr-darkblue:#052F5F;
$sky-blue:#1996FF;

body { color: $primary; background-color: $white;}
.bg-f { background-color: $white;}
.bg-Lgry{ background-color:$secondary;}

.clr-p { color:$primary; }
.clr-p2 { color:$primary2; }
.clr-f { color:$white; }
.clr-0 { color:$primary; }
.clr-red { color:$danger; }
.clr-info {color:#FF8F00;}
.clr-orange { color:$orange; }

.bg-blue1{background:$clr-darkblue;}
.bg-blue{background:$bg-darkblue;}
.bg-lgtblue{background:$bg-lgtblue;}
.bg-lgtblue1{background:$bg-lgtblue1;}
.bg-skyblue{background:$sky-blue;}
.bg-orange, .bg_orange{background:$bg-orange;}
.bg-danger{background:$danger;}


.clr-darkblue{color:$clr-darkblue;}
.clr-lgtkblue{color:$sky-blue;}

// colors

$blue4:#00A6ED;
$gray3:#EDEFF1;
.bg-blue4{background-color: $blue4;}
.bg-gray3{background-color:$gray3;}

.clr-blue4{color: $blue4;}
.bg-red{background-color: rgba(179,8,8,0.15);}
.clr_red{color:rgba(179,8,8,1);}
.btn-bg-grey{background-color:#ddd }