/*loader start here*/
.card_no .spinner{height:16px;}
.blue_spinner.spinner > div{background-color:#1B1DC7;}
.spinner {
    width:100%;
    height:40px;
}
  .spinner{
        > div {
          @extend .bg-f;
          height: 100%;
          width:4px;
          @extend .dIB;
          margin-left:2px;
          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .rect1 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }
        .rect2 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }
        .rect3 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }
        .rect4 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }
        .rect5 {
          -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
        }

  }  
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

@media only screen and (max-width:640px){
  .spinner{height:34px;}
}  
/*loader End here*/

/*Accordion start here*/
$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

.accordion { 
    input[name='panel'] {display:none;}
    label { 
      @extend .p-R; padding:20px 20px 20px 0;  border-bottom:1px solid #cdd5df; 
      @extend .dB; font-size:14px; color:#052F5F;
      @extend .hand; transition: all $timing $ease;
      
      &:after {content: '+'; @extend  .fs-22; line-height:18px;
        @extend .p-A; right:0; width:1em; height:1em; color:#052F5F; @extend ._C;
        border-radius: 50%;
      }    
      &:hover {color:#052F5F;}        
    }  
    input:checked + label {
      color:#052F5F;
      &:after {
        content: '-';
        /* adjsut line-height to vertically center icon */
        line-height: .8em;
      }
      
    }  
    .accordion_content {font-size:14px;
      overflow: hidden;
      height: 0px;
      @extend .p-R; @extend .p0;
      color:#052F5F;
      transition:height $timing $ease;
    }
}

input[name='panel']:checked ~ .accordion_content.accordion_content {
  height:auto; padding:10px;
}