@import 'grid/_grid.scss';
@import 'mixins/_mixins.scss';
@import 'helpers/_utility.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_alignment.scss';
@import 'helpers/_animate.scss';
@import 'helpers/_loader.scss';
@import 'helpers/_colors.scss';
@import 'helpers/_font.scss';
@import 'helpers/_form.scss';
@import 'helpers/_checkbox.scss';

.hide{display:none;}
.wid50 {width:50%;}
.wid24 {width:24%;}
.line_h {line-height:24px;}
.ovH {overflow: hidden;}
h4::after {
    content: '';
    @extend .dB;
    width:60px;
    height:2px;
    background-color:rgba(245,166,35,1);
    margin-top:10px;
}
.pdl20{padding-left:20px;}
.wid85{width:85%;}
.dF{display:flex;}
.align_C {align-items:center;}
.space_content{justify-content:space-between;}
.bdr_btn{border:1px solid rgba(5, 47,95, 0.3);}
.blue_bdr{border:1px solid #1996FF;}
.blue_bdr.pd5{padding:3px 5px 2px;}
.black_close{background: url(../images/black_close_icon.svg) no-repeat 0 0; width:12px; height:12px;}
header{padding:15px;}
.logo{background: url(../images/logo.svg) no-repeat 0 0; width:160px; height:33px; @extend .dIB;}
.m_logo{background: url(../images/m_logo.svg) no-repeat 0 0; width:123px; height:20px; @extend .dIB;}
.log_div {border:1px solid #052F5F;}
.pdl30{padding-left:30px;}
.pdr30{padding-right:25px;}
.clear{clear:both;}
.blue_gradient{background:linear-gradient(222.54deg, #312CC6 0%, #271E64 100%);}
.secure_container {
  height: 100%;
  min-height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.Lft_panel {
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;  
}
.Rgt_panel {
     -ms-flex: 1;
     -webkit-box-flex: 1;
     -moz-box-flex: 1;
     -ms-box-flex: 1;
     box-flex: 1;  
}
/*index css start here*/
.carousel .slide .image_box{ width:80%; }
/*index css end here*/
.error_box{border:1px solid #f5cbc7; background-color:#fceeec; @extend .bdr4;}
.term{
    .term_in {width:88%;}
    .styled-checkbox + label:before, .styled-checkbox:checked + label:after{
    vertical-align:top;}
    
}
img{max-width:100%; height:auto;}
.adhar_place{height:32px; width:49px;}
.ashok_symbol{height:36px; width:23px;}
.veri_icon {height:60px; width:58px;}
.summary li {
  padding:0.625rem 0; list-style: none; border-bottom: solid 1px rgba(5, 47, 95, 0.1); @extend .dIB; @extend .fullCon; @extend .space_content; @extend .dF; @extend .align_C; @extend .fw-6; @extend .clr-darkblue;
  label{width:190px; @extend ._R;}
}
.photo{height:90px; width:80px; @extend .bdr2; @extend .bg-f; @extend .pd5; @extend ._C; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.24);}

.carousel .slide{background:none;}



/*strip css start here*/
.strip{@extend .p-A; right:-8px; @extend .fs-10; @extend .clr-f; background: linear-gradient(150.59deg, #2AFFF8 0%, #453BD0 100%); padding:3px 9px 3px; top:-11px; @extend .fw-6; border-top-left-radius:4px; border-bottom-left-radius:4px;
  .tri_shap{width: 0; height: 0; z-index: -1; @extend .p-A; bottom:-5px; @extend ._oR;
        border-top:5px solid #508416; border-right:8px solid transparent;
  }
}
/*strip css end here*/

/*OTP Container start here*/
.OTP_item{ 
      width:360px; height:max-content; top:200px; bottom:100px; left:71%; right:auto; margin-right:-50%; border:none; @extend .p0; transform:translate(-50%, 0%);
    .cros::after {
        content: ''; width:11px; height:11px; @extend .dIB;
        background: url(../images/darkblue_cros.svg) no-repeat;
    }
    .otp_input { 
      input {margin-right: 5px; width:20%; height:50px; background:transparent; border:none; border-bottom:2px solid rgba(5,47,95,0.1); @extend ._C; 
      &:active, &:focus{border-bottom:2px solid #F5A623; @extend .clr-darkblue;}
      }
    }  
    .otp_input1 input{width:15%;}
}
.op85{opacity:0.85; }
.OTP_container{height:100%; @extend .dF; @extend .align_C; justify-content:center;}
.OTP_container.otp{@extend ._z9;}
.error_txt{display:none;}
.OTP_item .otp_input.error{
  input{border-bottom:2px solid #D72716; color:#D72716;}
  .error_txt{display:block;}
} 
.mobile {padding:12px 12px 12px;}
.OTP_item1{width:450px; top:140px;}
.bank_li{
   li {border:1px solid #9bacbf; @extend .mTB10; @extend .fullCon; @extend .bdr4; @extend .list_n;}
   a{padding:15px 15px 15px 50px; @extend .fs-14; @extend .fw-6; @extend.dIB; 
   @extend .clr-darkblue; @extend .TdecorN; @extend .fullCon;}
}
.sprite {background: url(../images/secure_sprite.png);}
.net, .debit, .upi, .wallet {@extend .p-A; width:30px; height:28px; left:13px; top:9px; background-size:110px;
}
.net{background-position:0px 0px;}
.debit {background-position:0px -30px;}
.upi {background-position:0px -56px;}
.wallet {background-position:0px -91px;}

.rgt_arw {background-position:-44px -1px; width:21px; height:15px;background-size:110px;
}
/*OTP Container End here*/
/*FD For Your Credit Card css start here*/
.sbm_li{
    li{@extend .list_n; @extend .dIB; @extend .fullCon; @extend .V_t; margin:5px 0;}
    li::before{content:''; background:url(../images/circle_tick.svg) no-repeat; width:19px; height:19px; @extend .dIB; @extend .V_m; @extend .mR10;}
}
.radio_li{
    li {border:1px solid #9bacbf; @extend .fw-6; @extend .p-R; @extend .bdr4; @extend .pd15; @extend .mTB10; @extend .list_n; width:47%; @extend .dIB;
    .custom input[type="radio"]:not(:checked) + label, .custom input[type="radio"]:checked + label{padding:0 0 0 28px; font-size: 18px;}
    }
    li:nth-child(odd) {margin-right:15px;}
} 
.sbm_logo{background:url(../images/sbm_logo.svg) no-repeat; @extend .dIB; width:97px; height:25px;}
/*FD For Your Credit Card css End here*/

/* Dashboard login CSS start Here */
.three_toggle_menu.toggle_menu{width:auto;}
.three_toggle_menu.toggle_menu .sky_btn, .three_toggle_menu.toggle_menu 
.trans_btn{width:113px;}
.toggle_menu{
    border: 1px solid #BEBED7; padding:3px; width:267px;  
    .sky_btn, .trans_btn{width:127px; @extend .pd10; @extend .fs-12; @extend .fw-6; @extend .bdr10; @extend .hand; @extend ._C; @extend .bdr0;}
    .sky_btn{@extend .clr-f; @extend .bg_skyblue;}
    .trans_btn{@extend .clr-skyblue; background:transparent;}
}
.mdash_logo{background: url(../images/logo.svg) no-repeat 0 0; width:118px; height:19px; display:inline-block; background-size:100%;}
.menu_icon{background: url(../images/menu_line_white.png) no-repeat 0 0; width:24px; height:15px; display:inline-block;}
.hand{cursor:pointer;}
.clr-skyblue{color:#1B1DC7;}
.op8{opacity:0.8;}
.bg_skyblue{background-color:#1B1DC7;}
.bdr8{ @include border-radius(8px);}
h5::after{content: ''; width:60px; height:2px; background-color:#1B1DC7; @extend .dB; margin-top:10px;}
.sbm_bank_logo{background: url(../images/sbm_bank_logo.svg) no-repeat 0 0; width:100px; height:25px;}
.msbm_bank_logo{background: url(../images/m_sbmbank_logo.svg) no-repeat 0 0; width:80px; height:21px;}
.hide_eye{background: url(../images/hide_eye.svg) no-repeat 0 0;}
.show_eye{background: url(../images/show_eye.svg) no-repeat 0 0;}
.hide_eye, .show_eye{width:16px; height:16px; @extend .dIB; @extend .hand;}
.after_line{padding-right:70px; @extend .dIB; margin-top:40px;}
.after_line::after {content: ''; width:60px; height:2px; background-color:#1B1DC7;  top:11px; position:absolute; right:0;}
.fd_after.after_line{margin-top:0;}
.secure_login{width:100%;
    .bg_grey{background:#F0F0F4;}
    .Lft_panel{height:100%;}
    .Rgt_panel{margin-left:39.66667%; padding-top:80px;}
    .header_blue_bg{background: url(../images/purple_bg.svg) no-repeat 0 0; height:77px; width:100%; background-size:435px; @extend .p-A; @extend ._oT;} 
    .footer_pink_bg{background: url(../images/ping_bg.svg) no-repeat 0 0; height:170px; width:100%; @extend .p-A; @extend ._oB;} 
    .logo{z-index:9; @extend .p-F;} 
    .card_img, .card_img_big{width:100%;}
    .card_img{background: url(../images/card_front.png) no-repeat 0 0; background-size:250px; height:180px;}    
    
    .bdr_btn{border:solid 1px #1B1DC7; @extend .bg-f; color:#1B1DC7;}
    .pass_div{background:#e6eaef; @extend .bdr8; @extend .pd15;}     
    .icon{width:36px; height:36px;}
    .cong{background: url(../images/congratulation_icon.png) no-repeat 0 0; background-size:35px;}
    .key{background: url(../images/key_icon.png) no-repeat 0 0; background-size:35px;}
    .creation{background:#e3e4f7;
      .left_side{width:70%;}
      .rgt_side img{@extend .p-A; top:-19px; right:15px;}
    }
    .link_a{width:60px; height:2px; background-color:#1B1DC7; margin-top:5px; 
    border-bottom:solid 1px red;}
    /* tooltip CSS */
    .special-text {@extend .p-R; @extend .hand;}

    /* Show the tooltip on hover */
    .special-text:hover .special-text__tooltip {visibility:visible; opacity:1; 
    @extend .bg-f;}
    .special-text__tooltip {
      font-size:11px;
      @extend .p-A; width:300%; right:0; bottom:100%; margin-bottom:15px; padding:10px;
      box-shadow:0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15);
      @extend .bdr4;
      /* Hide the tooltip by default */
      visibility: hidden;
      opacity: 0;  
      /* Prettify */
      text-align: left;
      -webkit-transition: opacity 0.5s linear;
      -moz-transition: opacity 0.5s linear;
      -ms-transition: opacity 0.5s linear;
      -o-transition: opacity 0.5s linear;
      transition: opacity 0.5s linear;      
    }
    .special-text__tooltip::before,.special-text__tooltip::after {
      content: ""; @extend .p-A; border-left: 10px solid transparent; margin-left:-10px;
      border-right: 10px solid transparent; top:100%; right:14%; 
    }
    .special-text__tooltip::before {border-top:8px solid rgba(52,105,203,0.15); 
    margin-top:1px;
    }
    .special-text__tooltip::after{border-top:10px solid white; margin-top:-2px; z-index: 1;}
    .card_img_big{background: url(../images/card_front.png) no-repeat left top; background-size:46%; height:160px;}
    
    .step_card{
      @extend .bdr8; box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15); padding:20px;
      .step_lft{width:64%; @extend .dIB; padding-right:25px;}
      .step_rgt{
        width:34%; margin:63px 0 0 1%; background: url(../images/card_front.png) no-repeat left top; background-size:100%; height:115px; vertical-align: top;
      }
    }
    .thanku_icon{background: url(../images/thanku_icon.svg) no-repeat 0 0;
    background-size:115px; width:120px; height:88px;}
    .fd_box{
      border:1px solid rgba(5,47,95,0.1); @extend .bdr4; @extend .bg-f; @extend .pd15;
          .lft_fd{background: url(../images/open_email.svg) no-repeat 0 0; background-size:97%; height:40px; width:40px; vertical-align:top; margin-right:10px;}
          .rgt_fd{width:79%;}
    } 
    .appl_status{
        li{@extend .list_n; padding:0px 0 15px 24px; border-left:solid 2px #EBF1F8;}
        li .green_tick, li ul li .green_tick{background: url(../images/green_tick.svg) no-repeat 0 0; @extend .dIB; margin-right:16px; vertical-align:middle;}
        li .green_tick{width:24px; height:24px; margin-left:-37px;  border:solid 4px #EBF1F8; border-radius:100%;}
        
        li:last-child{padding-bottom:0; border-left:none;}
        li ul{padding-left:9px;}
        li ul li{border-bottom:solid 1px #E6EBEF; padding:15px 0 15px 31px; border-left:none;}
        li ul li .green_tick{ width:17px; height:17px; border:none;}
        li ul li:first-child{padding-top:15px;}
        li ul li:last-child{padding-bottom:15px;}
        li .red_cross, li ul li .red_cross{background: url(../images/inactive_red.svg) no-repeat 0 0; @extend .dIB; margin-right:16px; vertical-align:middle;}
        li .red_cross{width:24px; height:24px; margin-left:-35px; border:solid 4px #EBF1F8; border-radius:100%;}
        li ul li .red_cross{ width:17px; height:17px; border:none;}
    }   
} 
/* Dashboard login CSS End Here */

/* Dashboard CSS start Here */
.wrapper, body, html {position:relative; min-height:100%;}
.layout-fixed{width:100%; height:auto; background:#e3e6f0;}

.layout-fixed .main-sidebar {
    bottom: 0;
    float: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;

}
/* navigation start here*/

.main-sidebar {@extend .bg-f; height:100vh;
  @extend .p-A;
  height:100%;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:9;
}
.expand .main-sidebar{
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width:250px; overflow:visible;
}
.navi{@extend .m0; @extend .pd18; outline:0;
    li{@extend .list_n; border-bottom:solid 1px #e6eaef; @extend .p-R; @extend .dB;
        padding:15px 10px;
          a{ @extend .fs-16; @extend .TdecorN; @extend .p-R;
              display:table;
              border-collapse:collapse;
              border-spacing:0;
              -webkit-transform:translateZ(0) scale(1,1);
              -webkit-transition:all .1s linear;
              transition:all .1s linear;
          }
          p{@extend .fs-14; @extend .fw-6; @extend .clr-darkblue; @extend .m0;  
            @extend .p-R; display:table-cell; @extend .V_m; width:190px; white-space: nowrap;
          }
    }
    li .rgt_arw{opacity:0.6;}
    li:hover p, li.active p{@extend .fw-6; @extend .clr-skyblue;}
    li:hover .dashboard, li.active .dashboard{background-position:-23px -1px;}
    li:hover .pay, li.active .pay{background-position:-23px -23px;}
    li:hover .manage, li.active .manage{background-position:-23px -46px;}
    li:hover .statement, li.active .statement{background-position:-23px -66px;}
    li:hover .profile, li.active .profile{background-position:-23px -91px;}
    li:hover .rewards, li.active .rewards{background-position:-23px -115px;}
    li:hover .score, li.active .score{background-position:-23px -140px;}
    li:hover .support, li.active .support{background-position:-23px -161px;}
    li:hover .logout, li.active .logout{background-position:-23px -184px;}
    li:hover .rgt_arw, li.active .rgt_arw{background: url(../images/rgt_arrow.svg) no-repeat 0 0; width:8px; height:13px; background-size:85%; opacity:1;}

    .navi_sprite{background: url(../images/navi_sprite.png) no-repeat 0 0; width:17px; height:19px; @extend .dIB; @extend .V_m; @extend .mr5;}
    .dashboard{background-position:0 -1px;}
    .pay{background-position:0 -23px;}
    .manage{background-position:0px -46px;}
    .statement{background-position:0 -66px;}
    .profile{background-position:0px -91px;}
    .rewards{background-position:0 -115px;}
    .score{background-position:0px -140px;}
    .support{background-position:0px -161px;}
    .logout{background-position:0px -184px;}
}
.sidebar-mini .main-sidebar .navi li p, .sidebar-mini .namebox p{opacity:0; visibility:hidden; white-space: nowrap;}
.sidebar-mini .main-sidebar{width:4.6rem; overflow-x:hidden;}

.namebox{background-color:#2A1B58; padding:18px 18px 18px 10px; @extend .dB;
    @extend .p-R;
  .name_in{@extend .p-R; display:table; border-collapse:collapse; border-spacing:0;
      -webkit-transform:translateZ(0) scale(1,1); -webkit-transition:all .1s linear;
      transition:all .1s linear; 
          p{word-break: break-word; @extend .p-R; display:table-cell; width:190px; @extend .V_m; white-space: nowrap;}
          .name_clr{width:48px; height:48px; border-radius:100%; margin-right:7px; padding: 7px; @extend .V_m;}
  }
}

/* navigation End here*/


.expand .content-wrapper{transition: margin-left .3s ease-in-out; margin-left:250px;}
.sidebar-mini .content-wrapper{margin-left: 4.6rem;}
.content-wrapper {background:#e3e6f0;}
.content-wrapper>.content { padding:1.5rem;}
.container-fluid {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col-lg-3, .col-md-8, .col-md-4, .col-md-12, .col-md-6, .col-md-9, .col-md-3{
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
} 
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-3{width:25%;}
.col-md-9{width:73%;}
@media (min-width: 992px){
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width:640px){
  .col-xs-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-3{width:25%;}
  .col-xs-9{width:73%;}
}
.statement_box{box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08), 0 4px 12px 0 rgba(52,105,203,0.15); width:100%;}
sidebar-mini .card_img{height:152px;}
.expand .card_img{height:133px;}
.card_img{
     @extend .p-R;
    label{@extend .p-A; left:18px; bottom:19px; @extend .clr-f; @extend .fs-12; @extend .camCase;}
}
.banner_box{background:#2A1B58;}
.banner_img{@extend .p-A; top:-113px; right:0; background: url(../images/artwork.svg) no-repeat 0 0; background-size:85%; height:206px; width:345px;}
.view_detail{border:1px solid #fff;}


.navi .rgt_arw, .rgt_arw{
  background: url(../images/rgt_arrow.svg) no-repeat 0 0; width:8px; @extend .dIB; @extend .V_m; 
}
.navi .rgt_arw{height:13px; top:40%; background-size:85%; @extend .p-A; right:0;}
.rgt_arw, .whitrgt_arw{height:8px; background-size:57%;}
.whitrgt_arw{background: url(../images/arw_white_rgt.svg) no-repeat 0 0; width:8px; @extend .dIB; @extend .V_m; height:9px;}
.arw_pad{padding-right:14px;}


.downdiv .bor{border-bottom:solid 1px #D4DAE1;}
.unbilled{
  li{@extend .list_n; border-bottom:solid 1px #e6eaef; padding:15px 0;}
}
.debit_arw, .credit_arw{width:12px; height:12px; @extend .dIB; @extend .V_m;}
.credit_arw{background: url(../images/credit_arw.svg) no-repeat 0 0;}
.debit_arw{background: url(../images/debit_arw.svg) no-repeat 0 0;}
.more_plus{background: url(../images/more_plus_icon.svg) no-repeat 0 0; width:8px; height:8px;}
.view_rotate_arw{ transform: rotate(90deg); margin:2px 0 0 5px;}
.view_rotate_arw, .hide_rotate_arw{width:7px; background-size:66%;} 
.hide_rotate_arw{ transform: rotate(-90deg); margin:-2px 0 0 5px;}
.manage_card, .know_card, .change_card_pin, .block_card{width:48px; height:48px; @extend .dIB; @extend .V_m;}
.manage_card{background: url(../images/manage_your_card.svg) no-repeat 0 0;}
.know_card{background: url(../images/know_your_card.svg) no-repeat 0 0;}
.change_card_pin{background: url(../images/change_card_pin.svg) no-repeat 0 0;}
.block_card{background: url(../images/block_card.svg) no-repeat 0 0;}
.navi.manage{
    border: 1px solid #D4DAE1;
    .rgt_arw{right:19px; top:43%;}
} 

.v_hide{display:none;}
.mhide, .mcase, .rect_arw{display:none;}

.modal_detail{
  width:31%; height: 100vh; min-height:100%; overflow-x: auto; box-sizing: border-box; overflow-y: scroll;
}
.fd_detail, .modal_detail{
  .summary {
      li{padding:15px 0;}
      li label{width:100px;}
      li:last-child{border-bottom:none;}
  }
}
.semi-donut {
  --percentage: 0;
  --fill:#835CFB;
  width:200px;
  height:100px;
  position: relative;  
  overflow: hidden;
  color: var(--fill);
  display: -webkit-box;  
  -webkit-box-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
}
.semi-donut:after {
  content: '';
  width:200px;
  height:200px;
  border:12px solid;
  border-color: rgba(243, 233, 248, 1) rgba(243, 233, 248, 1) var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  -webkit-transform: rotate(calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ));
          transform: rotate(calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ));
  -webkit-animation: fillAnimation 1s ease-in;
          animation: fillAnimation 1s ease-in;
}
.m_unbilled{@extend .p-A;}
.card_pop{margin-bottom:20px;}

.box{ display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
    .column{ flex: 1; margin-right:7.5px; margin-left:7.5px;}
}
.add_nominee{background:rgba(5,47,95,0.04); border:1px dashed rgba(5,47,95,0.1); height: 110px;
  span{line-height:0; display:inline-table; margin-top:4px;}
}
.verified{background-color:#1BC740; padding:2px 5px;}
.bdr_btn {border:1px solid #2C3BD9; color:#2C3BD9;}

.center_div{margin-top:20px;
    height:100%; display:flex; align-items:initial; justify-content:center;
    .center_item {width:690px;}
    .center_item1 {width:450px;}
    .rgt_arw{height:10px;}
}
.expand .center_item1 .card_img {height:auto;}
.full_custom.custom input[type="radio"]:checked + label, .full_custom.custom input[type="radio"]:not(:checked) + label{padding-right:0;}
.center_div_alert{top:0; bottom:0; left:0; right:0; margin:auto; transform:none;}
.center_div_alert .pT0 {padding-top:0;}
/* Flip css start here */
.vitual{
    div.main_flip{width:100%; text-align:center; height:190px;}
    .card_flip div{line-height:0;}
    .card_img img{width:300px; position: relative;}
    .card_img label{left:70px; bottom:28px;}  
}
.vitual_d{
  div.main_flip{height:153px;}
  .card_img label{left:15px; bottom:23px;} 
}
div.main_flip {
                -webkit-perspective: 1000px;
                perspective: 1000px;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                display: block;
                width: 300px;
                height: 200px;                
                cursor: pointer;
            }

            .card_flip {
                position: relative;
                height: 100%;
                width: 100%;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                -webkit-transition: all 600ms;
                transition: all 600ms;
                z-index: 20;
            }

            .card_flip div {
                position: absolute;
                height: 100%;
                width: 100%;
                background: #FFF;
                text-align: center;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .card_flip .back {
                background: #fff; height: 100%;
                width: 100%;
                color: #FFF; text-align: center;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
            }
            input:checked + .card_flip {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
            }
            input:checked + .card_flip div{
                -webkit-backface-visibility: visible;
                backface-visibility: visible;
            }
div.main_flip input {display: none;}
/* flip css End here */
.work_1, .work_2, .work_3{display:inline-block; vertical-align:middle; width:100px; height:90px;}
.work_1{background: url(../images/works_1.svg) no-repeat 0 0; background-size:100%;}
.work_2{background: url(../images/works_2.svg) no-repeat 0 0; background-size:87%;}
.work_3{background: url(../images/works_3.svg) no-repeat 0 0;background-size:100%;}
.work_span{@extend .dIB; width:66%; padding-left:15px; @extend .V_m;}
.form_group.select_box .custom_input{
  padding-bottom: 6px; border:none; height:25px; border-bottom: 1px solid rgba(5, 47, 95, 0.2); color:#052F5F; @extend .fw-5;
}

.m_accordion input[name='panel'] {display:none;}
.pending{background-color:#FFC300; padding:2px 5px;}
.fot{background:#2C2957;}

/* Landing CSS start Here */
.landing {width:100%;
  .logo{width:160px; height:27px; background:none;}
  .log_div{border: 1px solid #1B1DC7; width:110px;}
  h6::after {
    content: ''; width:80px; height:2px; margin-top:2px; bottom:-10px; @extend .p-A; @extend ._oL; @extend ._oR; @extend .m0A; background:#D90368;
  }
  .toggle_menu{width:369px;
    .sky_btn, .trans_btn{height:48px; width:178px; @extend .fs-16;}
  }
  .made h6{margin:35px 0;}
  .steps li{@extend .list_n; 
    .step_div{margin:8px 0;  @extend .fs-16; @extend .fw-6; @extend .clr-darkblue; @extend .pd10; @extend .dF; @extend .fullCon; border-radius:16px; box-shadow: 0 6px 30px 0 rgba(122,127,131,0.16); align-items:center; min-height:75px; @extend .p-R; padding-left:80px;
    }
    span{padding:13px 22px; margin-right:15px; border-radius:16px; background-color:#1B1DC7; @extend .dIB; @extend .p-A; left:10px; vertical-align:middle;
    }
  }
  .steps_fig{width:500px; @extend .f-R;}
}
h2::after{content: ''; width:60px; height:2px; background:#D90368; @extend .dB; margin-top:10px;}
.questions{background:#EDF1FA;
    .accordion label{font-size:16px;}
    .accordion .accordion_content{line-height:27px;}
}
.gredient_btn{background:linear-gradient(135deg, #38B8F2 0%, #843CF6 100%);}
.benefit_li li{padding:10px 0 10px 36px; @extend .list_n; @extend .fs-16; @extend .fw-6; @extend .p-R;}

.fly, .car, .tv, .discount, .cart, .fee, .annual_fee, .overdue, .withdrawl{width:24px; height:24px; @extend .dIB; @extend .V_m; margin-right:12px; @extend ._oL; @extend .p-A;}
.fly{background: url(../images/plane.svg) no-repeat 0 0; background-size:100%;}
.car{background: url(../images/car.svg) no-repeat 0 3px; background-size:100%;}
.tv{background: url(../images/television.svg) no-repeat 0 0;background-size:100%;}
.discount{background: url(../images/discount.svg) no-repeat 0 0;background-size:100%;}
.cart{background: url(../images/cart.svg) no-repeat 0 0;background-size:100%;}
.fee{background: url(../images/joining_fee.svg) no-repeat 0 0;background-size:100%;}
.annual_fee{background: url(../images/annual_fee.svg) no-repeat 0 0;background-size:100%;}
.overdue{background: url(../images/overdue_interest.svg) no-repeat 0 0;background-size:100%;}
.interest_rate{background: url(../images/interest_rate.svg) no-repeat 0 0;background-size:100%;}
.withdrawl{background: url(../images/withdrawl.svg) no-repeat 0 0;background-size:100%;}
.reward_img{@extend .p-A; left:38px; top: 75px; width:63%;}
.table{border:1px solid #e1e1e1; border-collapse:collapse; width:100%;
    th, td{border:1px solid #e1e1e1;}
    td{@extend .pd10;}
}
/* Landing CSS End Here */

.secure_login{
  .carousel .slide{text-align:left; padding:0 10px; background:transparent;}
  .slide {width:98%;
    p{@extend .clr-darkblue; margin-bottom:8px; @extend .dIB;}
  }
} 


/* Dashboard CSS End Here */

@media (min-width: 1200px) { 
  .hide_m { display:none;}
}
@media only screen and (max-width:1024px){
  .secure_login .card_img_big{height:130px;}
  .secure_login .step_card .step_lft {width:63%;}
  .secure_login .fd_box .rgt_fd {width:76%;}
  .banner_pic{display:none;}
  .ipad{width:70%;}
  .landing{
    .steps_fig {width:410px;}
    .benefit_bubble{width:308px;}
    .reward_img{top:66px;width:71%;}
    .steps li .step_div{min-height:75px; padding-left:80px;}
  } 
}
@media only screen and (max-width:768px){
  .secure_login .card_img{background-size:195px; height:140px;}
  .secure_login .card_img_big{height:100px;}
  .secure_login .fd_box .rgt_fd {width:66%;}
  /* Dashboard CSS start Here */
  .work_span{width:60%;}    
  /*.sidebar-mini.close .main-sidebar{margin-left:-250px;}
  .sidebar-mini .content-wrapper{margin-left:0;}*/
  /* Dashboard CSS end Here */
}

@media screen and (min-width:641px) and (max-width:667px) and (orientation:landscape),
(min-device-width:812px) and (max-device-width:823px), (min-device-width:731px)and (max-device-width:736px){
    .landscape_orientation{
        position:fixed;
        z-index:9999;
        width:100%;
        top:0;
        bottom:0;
        content:"";
        background:url(../images/landscape_block.jpg) no-repeat #212121;
        background-size:100% auto;
    }
}
@media only screen and (min-device-width:767px) and (max-device-width:768px){
  .navi.manage{
      padding: 15px 10px;
      .manage_card, .know_card{width:30px; height:30px; background-size:97%;}
      .rgt_arw{right:10px; top:39%;}
  }
  .updiv{
      .col-xs-12{max-width:50%; flex:40%;}
      .col-xs-6{max-width: 30%;}
      .semi-donut{width:147px; height:73px;}
      .semi-donut:after{width:147px; height:145px;}
  } 
  .landing{
    .container{width:90%;}
    .steps_fig {width:315px;}
    .landing .benefit_bubble {width:220px;}
    .fot .g-12-s{width:98%;}
  } 
}
@media only screen and (max-width:767px){
  .modal_detail{border-radius:16px 16px 0 0; padding:10px 20px 30px 20px; width:100%; display:inline; top:initial; bottom:0; overflow-x:auto; box-sizing:border-box;}
  .modal_detail.animate-right{visibility:inherit;}
}

@media only screen and (max-width:640px){
  .mpdB40{padding-bottom:40px;}
  header{border-bottom:solid 1px #E6EBEF; padding:10px;}
    .mob_term_check{background:#e6eaef; width:110%; margin-left:-19px; padding:10px 20px; margin-top:10px;}  
  .OTP_item{ width:100%; bottom:0; left:0; right:0; margin-right:0; transform:none; top: inherit; border-radius:24px 24px 0 0;}
  .mob_radius {border-top-left-radius:25px; border-top-right-radius:25px;}
  .mobile .rect {height:max-content; width:100%; text-align:center; display:inline-block;}
  .mob_rectangle {height:4px; width:40px; border:1px solid rgba(5, 47, 95, 0.2);
    opacity:0.2; border-radius:5px; background:#052F5F;
  }
  .mob_C, .m_thanks{text-align:center; width:100%;}
  .secure_login{
      .m_logo{float:left;}
      .Rgt_panel{margin-left:0; padding-top:60px;}
      .card_img_big{background: url(../images/card_front.png) no-repeat center top; background-size:321px; height:230px; display:inline-block;}
      .m_hide_img{display:none;}
      .m_thanks {
          h4::after{margin-left:41%;}
          .rgt_fd{text-align:left;}
          .step_card .step_lft{padding-right:0; width:100%;}
          .step_card .step_lft p{font-weight:600;}
          .step_card .step_rgt{margin:0; display:inline-block; width:55%; height: 125px; margin-bottom:10px;}
          .step_rgt.m_hide_img{display:none;}
      }
      
  }
/* Dashboard CSS start Here */
.secure_container .mob_bg_color .wrapper{background:#e3e6f0;}
.m_thanks .secure_login .step_card .step_rgt{height:120px;}
.modal_detail{height:auto;}
.work_span{width:68%;}
.box{ display:inline-block;}
.sidebar-mini.close .main-sidebar{margin-left:-250px;}
.sidebar-mini .content-wrapper{margin-left:0;}
.sidebar-mini .main-sidebar{transition: margin-left .3s ease-in-out,width .3s ease-in-out; width:250px;}
.sidebar-mini .main-sidebar .navi li p, .sidebar-mini .namebox p {
    opacity:1;
    visibility:visible;
}
.shide{display:none;}
.m_togg{display:inline-block; text-align:center;
    .toggle_menu{display:inline-block; margin-bottom:10px;
        .sky_btn{color:#1B1DC7; background:#fff;}
        .trans_btn{color:#fff; background:transparent;}
    }
}
  .mob_bg_color{
      header{border-bottom:none;}
      .content-wrapper{
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2a1b58+25,2a1b58+25,e3e6f0+25,e3e6f0+25,2a1b58+25,2a1b58+25,e3e6f0+25,e3e6f0+26,e3e6f0+31,e3e6f0+89,e3e6f0+96,e3e6f0+100,e3e6f0+100 */
          background: #2a1b58; /* Old browsers */
          background: -moz-linear-gradient(top, #2a1b58 25%, #2a1b58 25%, #e3e6f0 25%, #e3e6f0 25%, #2a1b58 25%, #2a1b58 25%, #e3e6f0 25%, #e3e6f0 26%, #e3e6f0 31%, #e3e6f0 89%, #e3e6f0 96%, #e3e6f0 100%, #e3e6f0 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 25%,#2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 26%,#e3e6f0 31%,#e3e6f0 89%,#e3e6f0 96%,#e3e6f0 100%,#e3e6f0 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 25%,#2a1b58 25%,#2a1b58 25%,#e3e6f0 25%,#e3e6f0 26%,#e3e6f0 31%,#e3e6f0 89%,#e3e6f0 96%,#e3e6f0 100%,#e3e6f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1b58', endColorstr='#e3e6f0',GradientType=0 ); /* IE6-9 */
          
          background-repeat:no-repeat;
          background-size:100% 740px;
      }

      .mpdl20{padding-left:0; width:100%;}
      .mpdl10{padding-left:10px;}
      .mdue{
          .span_in{display:inline-block; width:49.3%; margin-left:-3px;}
          .mbor_b{ border-bottom: solid 1px #e6eaef; padding:15px 0; opacity:1; font-weight:600;}
          .txtrgt{text-align:right; font-size:14px;}
      }
      .mwid85{width:100%; padding-top:10px; padding-bottom:5px;}
      .wid24{width:48%;}
      .mcase{display:block;}
      .banner_box{padding-left:0; padding-right:0;}
      .rect_arw{padding:3px 3px; background-color: rgba(255,255,255,0.1); border: 1px solid rgba(255,255,255,0.2); float:right; display:inline-block;}

  } 
  .mob_bg_color .content-wrapper1{background-size:100% 100%;} 
   
  .layout-fixed .content-wrapper > .content{padding:1rem;}
  .layout-fixed .container-fluid{padding:0;}
  .col-xl-12{max-width:100%; flex: 0 0 100%;}
  .navi.manage{
      .rgt_arw{display:none;}
      p{padding:0; text-align:center; width:100%;}
      .know_card, .manage_card{width:100%; background-position:center center; margin-bottom:15px;}
  } 
  .g-1, .g-2, .g-3, .g-4, .g-5, .g-6, .g-7, .g-8, .g-9, .g-10, .g-11, .g-12{width: 100%;}
  .semi-donut{width:100%;}
  .semi-donut:after{left:17%;}
  .m_unbilled{position:relative; text-align:center;}
  .bdr-rgt{border-right:1px solid #D4DAE1;}
  .card_pop{margin-bottom:0px;}
  .fd_bor{border-bottom-left-radius:0; border-bottom-right-radius:0;}
  .rd_bor{border-radius:0; border-top:none;}
  .nd_bor{border-top-left-radius:0; border-top-right-radius:0; border-top:none;}
  .rectangle_accordion{
    box-sizing: border-box;
    height:17px; width:17px; border:1px solid #1B1DC7; padding:1px 1px 0px 1px;
    vertical-align: middle; line-height:12px;    
  }  
  .manage_btm_m{margin-bottom:15px;}
  .center_div{margin-top:0px;}
  .block{
      .lft_part{text-align:left; margin:0; vertical-align:top;}
      .rgt_part{text-align:left; vertical-align:top; display:inline-block;}

  } 
  .m_alert{width:88%; margin-right:auto; border-radius:8px; top:0;}
  .m_online{text-align:center;
      .card_img{width:250px; text-align:center; display:inline-block;}
  }
  .vitual_d div.main_flip{height:190px;}
  .mobmpT10{padding-top:10px;}
  /*Accordion css start here*/
      $timing: .4s;
      $ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

      .m_accordion { 
          input[name='panel'] {display:none;}
          .title { 
            position:relative;
            display:block; transition: all .4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
            
            &:after {content: '+'; position:absolute; right:4px; top:3px; 
                box-sizing: border-box; color:#1B1DC7; font-size:1.25rem; font-weight: 600; background-color:#fff; text-align:center; border-radius:4px;
                height:17px; width:17px; border:1px solid #1B1DC7; padding: 1px 1px 0px 1px; vertical-align:middle; line-height:12px;
            } 
            h5{margin-bottom:0;}
            h5::after{width:0; height:0;}       
          }  
          input:checked + .title {
            &:after {
              content: '-';
              /* adjsut line-height to vertically center icon */
              line-height:10px;
            }
            
          }  
          .accordion_content {
            overflow: hidden;
            height: 0px;
            position:relative;; padding:0;
            transition:height .4s cubic-bezier(0.865, 0.140, 0.095, 0.870);
          }
      }

      input[name='panel']:checked ~ .accordion_content.accordion_content {
        height:auto; padding:10px;
      }
      /*Accordion css End here*/

      /*Landing css start here*/
      .questions .accordion label{font-size:14px;}
      .landing_main{flex-direction:column-reverse;}
      .landing{
          header{border-bottom:none; padding-bottom:0;}
          .log_div{width:70px;}
          .m_head{padding:0;}
          .logo{width:120px; height:21px;}
          .fot {text-align:center;
            .card_img{margin-bottom:20px;
              img{width:260px;}
            } 
          }
          .benefit_bubble{width:100%; display:inline-block; text-align:center;
              img{width:294px;}
          } 
          .made{
              .title_box{padding:10px 5px; width:48%;}
              figure{height:79px;}
              .btn_get{width:64.66667%;}
              h3{font-size:14px;}
              p{font-size:12px;}
          }
          .toggle_menu{width:300px;
              .sky_btn, .trans_btn{width:144px;}
          }
          .apply{padding:0 10px;
            .apply_txt{font-size:24px;}
          }
          .steps_fig{width:100%; text-align:center;
            img{width:263px;}
          }
          .steps li span{border-radius:8px; padding:6px 13px; margin-right:12px;}
          .steps li .step_div{padding-left:57px; min-height:55px;}
          .reward_img{top:53px; width:73%;}
          .m_mob{
            h2{margin-top:0; font-size:24px;}
            p{font-size:14px; font-weight:500;}
          }
          .questions{
            h6{font-size:20px; margin-top:10px;}
          }
      }
      /*Landing css end here*/
  
  /* Dashboard CSS end Here */ 
}

/* Landscape */
@media only screen and (min-device-width:568px) and (max-device-width:640px){
  .semi-donut:after {left:32%;}
}




